<div class="dropdown-li-value">
    {{#isContact}}
        <div class="icon contact"></div>
        <div class="contentWrapper">
            <div class="title">{{text}}</div>
            <div class="text">{{value}}</div>
        </div>
    {{/isContact}}

    {{#isSearch}}
        <div class="icon search"></div>
        <div class="contentWrapper">
            <div class="title">{{text}}</div>
        </div>
    {{/isSearch}}
</div>

