<div class="techbar">
    <div class="title">{{#_i18n}}frame:techbar.slogan{{/_i18n}}</div>
    <div class="menu">
        <a href="javascript:void(0)" class="button link menuitem"><span class="caption">{{#_i18n}}frame:techbar.about{{/_i18n}}</span></a>
        <a href="javascript:void(0)" class="button link menuitem"><span class="caption">{{#_i18n}}frame:techbar.tutorial{{/_i18n}}</span></a>
        <a href="javascript:void(0)" class="button link dropdown menuitem ddsId_ddsResources"><span class="caption">{{#_i18n}}frame:techbar.resources{{/_i18n}}</span><span class="toggle"></span></a>

        <div class="dropdown-slider ddsResources" display="none">
            <div class="group">
              <a href="javascript:void(0)" class="ddm"><span>Backbone</span></a>
              <a href="javascript:void(0)" class="ddm"><span>Marionette</span></a>
              <a href="javascript:void(0)" class="ddm"><span>Underscore</span></a>
              <a href="javascript:void(0)" class="ddm"><span>Require.js (AMD)</span></a>
              <a href="javascript:void(0)" class="ddm"><span>Mustache</span></a>
              <a href="javascript:void(0)" class="ddm"><span>Sass\Compass</span></a>
            </div>
            <fieldset>
              <legend>Deploying tools</legend>
              <a href="javascript:void(0)" class="ddm"></span><span class="label">Grunt</span></a>
              <a href="javascript:void(0)" class="ddm"></span><span class="label">Bower</span></a>
            </fieldset>
            <fieldset>
              <legend>Testing tools</legend>
              <a href="javascript:void(0)" class="ddm"></span><span class="label">Mocha</span></a>
              <a href="javascript:void(0)" class="ddm"></span><span class="label">Chai</span></a>
              <a href="javascript:void(0)" class="ddm"><span>Sinon</span></a>
              <a href="javascript:void(0)" class="ddm"><span>Squire</span></a>
            </fieldset>
            <fieldset>
                 <a href="javascript:void(0)" class="ddm special"><span> Source code</span></a>
            </fieldset>
        </div>
    </div>
</div>


