
$button-color:#444;
$button-icon-color:#65676A;
$button-background-color:#F3F3F3;
$button-toggle-color:#949698;
$button-splitter-color:#F4F4F4;
$button-border-color:#D9D9D9;
$button-hover-border-color:#C0C0C0;
$button-hover-color:#333;
$button-hover-toggle-color:#676767;
$button-hover-background-color:#ffffff;
$button-clicked-color:#333;
$button-clicked-toggle-color:#676767;
$button-clicked-background-color:#ffffff;
$button-clicked-border-color:#C0C0C0;
$button-disable-color:#B6AEAE;

$button-normal-width: 72px;
$button-prime-width:115px;
$button-icon-width: 30px;
$button-primeIcon-width:60px;


.button {
  text-decoration: none;
  font-family: $font-family2;
  font-size: $font-size3;
  font-weight: bold;
  color: $button-color;
  line-height: 17px;
  height: 18px;
  display: inline-block;
  float: left;
  margin-right:15px;
  padding:5px 8px 5px 8px;
  min-width:50px;
  background: $button-background-color;
  border: solid 1px $button-border-color;
  text-align: center;
  cursor: pointer;
  @include border-radius(2px);

   .caption{
      margin-right:4px;
    }

   .toggle {
      @include arrow-down(4px, $button-toggle-color, 2px);
    }

  &.clicked,&:hover {
    background: $button-hover-background-color;
    color: $button-hover-color;
  }

  &.clicked .toggle, &:hover .toggle {
    @include arrow-down-hover( $button-hover-toggle-color);
  }

  &.disable,&.disable:hover {
    cursor:default;
    color:$button-disable-color;
    background-color:$button-background-color;
  }

  &.left {
    margin-right: 0px;
    @include border-right-radius(0);
  }

  &.middle {
    margin-right: 0px;
    border-left-color: $button-splitter-color;
    @include border-radius(0) ;
  }

  &.right {
    border-left-color: $button-splitter-color;
    @include border-left-radius(0);
  }

  &.icon{
    min-width:$button-icon-width;
    padding-right:0px;
    padding-left:0px;
  }

  &.prime {
    min-width:$button-prime-width;
  }

  &.primeIcon {
    min-width:50px;
  }

  &.link{
    border:0;
    background-color:transparent;
    font-size: 13px;
    font-weight: normal;
  }

  &.link.clicked{
    border:1px solid $button-border-color;
  }
}
