.mb {

  @include abs-pos(0, 0, 0, 0);
  background-color: $layout-background-color;
  min-width:1024px;
  min-height: 550px;
  overflow:hidden;

  .techbar-wrapper {
    height: 30px;
    border-bottom: 1px solid $layout-splitter-color;
    background-color: red;
    @include abs-pos(0, 0, 'NaN', 0);
  }

  .header-wrapper{
    height: 70px;
    border-bottom: 1px solid $layout-splitter-color;
    @include abs-pos(30px, 0, 'NaN', 0) ;

    .logo {
      width: 145px;
      height: 40px;
      background-image: url('app/common/ui/img/logo.png');
      @include abs-pos(10px, 'NaN', 'NaN', 25px);
    }

    .accountName{
      float: right;
      margin-right: 26px;
      margin-top: 20px;
      width:40px;
      height:35px;
      background-image: url('app/common/ui/img/product_demos.jpg');
    }

    .search-region{
      width: 550px;
      height: 30px;
      @include abs-pos(19px, 'NaN', 'NaN', 200px);
    }
  }

  .actions-wrapper{
      height: 65px;
      border-bottom: 1px solid $layout-splitter-color;
      @include abs-pos(100px, 0, 'NaN', 0);

      .moduleSwitcher{
        width: 140px;
        height: 25px;

        @include abs-pos(24px, 'NaN', 'NaN', 27px);

        .button{
          padding-left:0px;
        }

        .button .toggle{
          border-top-color: #ffffff;
        }

        .link{
          color:white;
          font-size:19px;
        }

        .ddsModules {
          position: absolute;
          top: 30px;
          left:5px;
          display: none;
          min-width:135px;

          .ddm{
            height: 19px;
          }
        }
      }

      .actions-region{
        @include abs-pos(20px, 90px, 'NaN', 200px);
      }

      .btnSettings {
        @include abs-pos(21px, 10px, 'NaN', 'NaN');

        .button .settingsIcon {
          @include set-icon(17px, 17px, 'app/common/ui/img/actions.png', 0, 0);
        }
        .button:hover .settingsIcon {
          background: url('app/common/ui/img/actionsHover.png') 0 0 no-repeat;
        }
      }
  }

  .main-region {
    @include abs-pos(165px, 0, 0, 0);
  }
}
