.mb {
  .settingsView {

    width:600px;
    height:350px;
    z-index:200;

    .section {
      padding-top:40px;


      .title{
        width: 120px;
        padding-right: 15px;
        float: left;
        text-align: right;
      }
    }

    .themeBox {
      border:1px solid  $settings-background-color;
      float:left;
      padding-top:0;
      margin-right:10px;

      &:hover{
        border:1px solid $settings-themeBox-border-hover-color;
        cursor:pointer;
      }

      .title {
        text-decoration: underline;
        width:100%;
        text-align: center;
      }

      .icon{
        border:1px solid $settings-themeIcon-border-color;
      }
    }

    .close {
      @include abs-pos('NaN', 'NaN', 30px, 30px);
    }
  }
}














