$layout-background-clr:$color1;
$layout-splitter-clr:$color2;

$loader-boClr:#F0C36D;
$loader-bgColor:#F9EDBE;
$loader-color:$color52;

$techbar-clr:$color18;
$techbar-toogle-clr:$color10;
$techbar-hover-clr:$color4;
$techbar-toogle-hover-clr:$color4;
$techbar-toogle-clicked-clr:$color3;
$techbar-bgClr:$color17;

$techbar-ddItem-clr:$color19;
$techbar-ddItem-special-clr:$color20;
$techbar-ddItem-background-color:$color4;
$techbar-ddsResources-legend-clr:#325E0A;
$techbar-ddsResources-background-clr:$color4;
$techbar-ddsResources-fieldset-clr:$color4;

$searchBtn-border-color: $color29;
$searchBtn-background-color: $color27;
$searchBtn-background-hover-color: $color28;
$searchBtn-border-hover-color: $color29;

$settings-label-color: $color30;
$settings-bgClr: $color30;
$settings-legend-color: $color31;
$settings-themeIcon-boClr: $color32;
$settings-themeBox-hover-boClr: $color33;