$layout-background-clr:$color1;
$layout-splitter-clr:$color2;

$loader-boClr:#F0C36D;
$loader-bgColor:#F9EDBE;
$loader-color:#222222;

$techbar-clr:$color18;
$techbar-toogle-color:$color10;
$techbar-hover-color:$color4;
$techbar-toogle-hover-color:$color4;
$techbar-toogle-clicked-color:$color3;
$techbar-background-clr:$color17;

$techbar-ddItem-color:$color19;
$techbar-ddItem-special-color:$color20;
$techbar-ddItem-background-color:$color4;
$techbar-ddsResources-legend-color:#325E0A;
$techbar-ddsResources-background-color:$color4;
$techbar-ddsResources-fieldset-color:$color4;

$searchBtn-border-color: $color29;
$searchBtn-background-color: $color27;
$searchBtn-background-hover-color: $color28;
$searchBtn-border-hover-color: $color29;

$settings-label-color: $color30;
$settings-background-clr: $color30;
$settings-legend-color: $color31;
$settings-themeIcon-border-clr: $color32;
$settings-themeBox-hover-boClr: $color33;