//==================================================
//Base VARS
//==================================================


//FONTS
//------------------------------

$font-family1: "Avenir Next","Helvetica Neue",sans-serif;
$font-family2: Helvetica,Arial,sans-serif;

$font-size1: 12px;
$font-size2: 13px;
$font-size3: 11px;

