body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.mb input {
  vertical-align: middle;
  padding: 0 8px;
  background-color: white;
  border: 1px solid gainsboro;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mb input:hover {
  border-color: #c1c2c3;
}
.mb input:active,
.mb input:focus {
  outline: none;
  border-color: gainsboro;
  -webkit-box-shadow: rgba(81, 82, 84, 0.25) 0px 0px 3px;
  -moz-box-shadow: rgba(81, 82, 84, 0.25) 0px 0px 3px;
  box-shadow: rgba(81, 82, 84, 0.25) 0px 0px 3px;
}
.mb .hide {
  display: none;
}
.mb .show {
  display: block;
}

.mb .button {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: white;
  line-height: 17px;
  height: 18px;
  display: inline-block;
  float: left;
  margin-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #343434;
  border: solid 1px #d9d9d9;
  min-width: 72px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.mb .button .caption {
  margin-right: 4px;
}
.mb .button .toggle {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid white;
  position: relative;
  font-size: 0;
  padding-top: 2px;
}
.mb .button.clicked,
.mb .button:hover {
  background: #494949;
  color: white;
}
.mb .button.clicked .toggle,
.mb .button:hover .toggle {
  border-top-color: white;
}
.mb .button.disable:hover {
  cursor: default;
  background-color: #343434;
}
.mb .button.left {
  margin-right: 0px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mb .button.middle {
  margin-right: 0px;
  border-left-color: #f4f4f4;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.mb .button.right {
  border-left-color: #f4f4f4;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.mb .button.icon {
  min-width: 30px;
}
.mb .button.prime {
  min-width: 115px;
}
.mb .button.primeIcon {
  min-width: 60px;
}
.mb .button.link {
  border: 0;
  background-color: transparent;
  font-size: 13px;
  font-weight: normal;
}

.mb .dropdown-slider {
  display: block;
  overflow: hidden;
  margin: 0 7px 5px 5px;
  border: 1px solid #cbcbcb;
  border-top: 0px;
  min-width: 130px;
  z-index: 1000;
}
.mb .dropdown-slider .ddm {
  display: block;
  background: white;
  color: #585858;
  text-decoration: none;
  font: 12px Helvetica, Arial, sans-serif;
  line-height: 18px;
  height: 18px;
  margin: 0;
  padding: 6px 6px 5px 15px;
  width: 100%;
}
.mb .dropdown-slider .ddm:hover {
  background: #eeeeee;
}
.mb .dropdown-slider .ddm:last-child {
  border-bottom: none;
}
.mb .dropdown-slider .splitter {
  border-top: 1px solid #d4d4d4;
}

.mb .data-table-contanier {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eef0f3;
}
.mb .data-table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}
.mb .data-table tr {
  background-color: #eef0f3;
  color: #222222;
  cursor: pointer;
}
.mb .data-table tr.selected {
  background-color: #ffffcc;
}
.mb .data-table tr.clickedRow {
  background-color: #f9f9e0;
}
.mb .data-table td {
  line-height: 35px;
  font-size: 13px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px white solid;
  padding-left: 5px;
}

.mb .loader {
  position: absolute;
  width: 90px;
  background: #F9EDBE;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  margin-left: -16px;
  top: 0;
  left: 50%;
  font-weight: bold;
  border: 1px solid #F0C36D;
}

/*--------- ui-components ----------*/
.mb .autoComplete-size {
  max-width: 520px;
}
.mb .autoComplete .menu.default-list {
  cursor: default;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
  left: 90px;
  right: 25px;
  float: left;
  padding: 4px;
  margin: 0;
  list-style: none;
  background-color: white;
  border: 1px solid gainsboro;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(81, 82, 84, 0.25) 0 0 3px 1px;
  -moz-box-shadow: rgba(81, 82, 84, 0.25) 0 0 3px 1px;
  box-shadow: rgba(81, 82, 84, 0.25) 0 0 3px 1px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.mb .autoComplete .menu.default-list li {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 6px 6px;
  border-top: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
}
.mb .autoComplete .menu.default-list li:first-child {
  border: none;
}
.mb .autoComplete .menu.default-list li div.dropdown-li-value {
  display: inline-block;
}
.mb .autoComplete .menu.default-list li div.dropdown-li-icon {
  margin-right: 8px;
}
.mb .autoComplete .menu.default-list li div.icon {
  float: left;
  background: url("app/assets/ui/img/user.png") no-repeat;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.mb .autoComplete .menu.default-list li div.contentWrapper {
  paddign-rigth: 10px;
  vertical-align: middle;
}
.mb .autoComplete .menu.default-list li div.contentWrapper .title {
  font-weight: bold;
  padding-right: 8px;
}
.mb .autoComplete .menu.default-list li div.contentWrapper .text {
  color: #777777;
}
.mb .autoComplete .menu.default-list li.active {
  background-color: #EEEEEE;
}

.mb .tags-container {
  position: relative;
  min-height: 32px;
  width: 100%;
  background-color: white;
  border: 1px solid gainsboro;
  padding: 3px 4px 2px 4px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
}
.mb .tags-container:hover {
  border-color: #c1c2c3;
}
.mb .tags-container .selectedTags {
  display: inline;
}
.mb .tags-container .tag-selector {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  height: auto;
  min-height: 20px;
  line-height: 17px;
  max-width: 100%;
  overflow: auto;
  margin: 3px 0px 0px 0px;
}
.mb .tags-container .tag-selector .tag-input {
  float: left;
  min-height: 17px;
  height: auto;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  outline: 0;
  padding: 0px 3px 0 3px;
  word-spacing: 0;
}
.mb .tags-container .tag {
  position: relative;
  height: 20px;
  margin: 2px 4px 2px 0px;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  background-color: #F5F5F5;
  border: 1px solid #D9D9D9;
}
.mb .tags-container .tag .content {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  height: 100%;
  line-height: 20px;
  position: relative;
  color: #767678;
  font-size: 12px;
  font-weight: normal;
  padding: 0px 20px 4px 5px;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  word-spacing: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.mb .tags-container .tag.err {
  background-color: #ffffff;
  border: 0px;
  border-bottom: 1px dashed red;
}
.mb .tags-container .tag .close-button {
  background: url("app/assets/ui/img/12x12-sprite.png") -540px 0 no-repeat;
  content: "";
  position: absolute;
  right: 0px;
  top: 4px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin-right: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- modules -------------*/
.mb .buttonsToolbar {
  position: absolute;
  top: 22px;
  left: 200px;
}
.mb .lblSettings {
  position: absolute;
  top: 22px;
  left: 200px;
  font-size: 20px;
  color: white;
  font-weight: normal;
  margin: 0;
}
.mb .btnSettings {
  position: absolute;
  top: 22px;
  right: 10px;
}
.mb .btnSettings .button .settingsIcon {
  display: inline-block;
  height: 17px;
  width: 17px;
  background: url("app/assets/ui/img/actions.png") 0 0 no-repeat;
}
.mb .btnSettings .button:hover .settingsIcon {
  background: url("app/assets/ui/img/actionsHover.png") 0 0 no-repeat;
}
.mb .pager {
  width: 300px;
  position: absolute;
  top: 22px;
  right: 82px;
}
.mb .pager .pagerButtons {
  float: right;
}
.mb .pager .pagerButtons .btnNewer .icoNewer {
  display: inline-block;
  height: 17px;
  width: 17px;
  background: url("app/assets/ui/img/actions.png") 0 -17px no-repeat;
}
.mb .pager .pagerButtons .btnNewer:hover .icoNewer {
  background: url("app/assets/ui/img/actionsHover.png") 0 -17px no-repeat;
}
.mb .pager .pagerButtons .btnNewer.disable .icoNewer {
  background: url("app/assets/ui/img/actionsDisabled.png") 0 -17px no-repeat;
}
.mb .pager .pagerButtons .btnOlder .icoOlder {
  display: inline-block;
  height: 17px;
  width: 17px;
  background: url("app/assets/ui/img/actions.png") 0 -34px no-repeat;
}
.mb .pager .pagerButtons .btnOlder:hover .icoOlder {
  background: url("app/assets/ui/img//actionsHover.png") 0 -34px no-repeat;
}
.mb .pager .pagerButtons .btnOlder.disable .icoOlder {
  background: url("app/assets/ui/img/actionsDisabled.png") 0 -34px no-repeat;
}
.mb .pager .pagerInfo {
  float: right;
  padding-right: 10px;
  padding-top: 8px;
  color: white;
  font-size: 13px;
  font-family: "Avenir Next", "Helvetica Neue", sans-serif;
}
.mb .action-list-section div {
  float: left;
}
.mb .action-list-section .ddsMove {
  position: absolute;
  top: 30px;
  display: none;
}
.mb .action-list-section .ddsSelect {
  position: absolute;
  top: 30px;
  display: none;
}
.mb .action-list-section .ddsMore {
  position: absolute;
  top: 30px;
  display: none;
  min-width: 150px;
}

.composeView {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eef0f3;
}

.composeView .compose-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px;
}
.composeView .compose-header .tagsPlaceholder {
  height: 32px;
  display: table;
  width: 100%;
}
.composeView .compose-header .field {
  padding-bottom: 10px;
}
.composeView .compose-header .field-options {
  padding-left: 70px;
  padding-bottom: 10px;
}
.composeView .compose-header .label {
  float: left;
  min-width: 70px;
  color: gray;
  font-weight: bold;
}
.composeView .compose-header .link {
  color: #15c;
  cursor: pointer;
  padding-right: 15px;
}
.composeView .compose-header .link:hover {
  text-decoration: underline;
}
.composeView .compose-header .inputbox {
  padding: 0 5px 0 0;
  overflow: hidden;
}
.composeView .compose-header .inputbox input {
  width: 100%;
  height: 32px;
}
.composeView .compose-editor {
  position: absolute;
  top: 155px;
  left: 20px;
  right: 20px;
  bottom: 15px;
  background-color: white;
  border: 1px solid gainsboro;
  padding: 10px;
}
.composeView .compose-editor:hover {
  border-color: #c1c2c3;
}
.composeView .compose-editor:active,
.composeView .compose-editor:focus {
  outline: none;
  border-color: gainsboro;
  -webkit-box-shadow: rgba(81, 82, 84, 0.25) 0px 0px 1px;
  -moz-box-shadow: rgba(81, 82, 84, 0.25) 0px 0px 1px;
  box-shadow: rgba(81, 82, 84, 0.25) 0px 0px 1px;
}

.mb .logo {
  width: 145px;
  height: 40px;
  background-image: url("app/assets/ui/img/logo.png");
  position: absolute;
  top: 14px;
  left: 22px;
}
.mb .searchPanel {
  position: absolute;
  top: 25px;
  left: 200px;
  width: 700px;
}
.mb .searchPanel input {
  width: 500px;
  height: 30px;
  float: left;
  margin-right: 15px;
}
.mb .searchPanel a {
  background-color: #4d90fe;
  border: 1px solid #3079ed;
}
.mb .searchPanel a span {
  margin-top: -2px;
  display: inline-block;
  height: 22px;
  width: 22px;
  background: url("app/assets/ui/img/search.png") 0 0 no-repeat;
}
.mb .searchPanel a:hover {
  border-color: #3079ed;
  background-color: #3e83f1;
}
.mb .accountName {
  float: right;
  margin-right: 30px;
  margin-top: 25px;
  width: 40px;
  height: 35px;
  background-image: url("app/assets/ui/img/product_demos.jpg");
}

.mail-header-region {
  height: 80px;
  border-bottom: 1px solid #404040;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.mail-action-region {
  height: 70px;
  border-bottom: 1px solid #404040;
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
}

.mail-nav-region {
  width: 170px;
  padding-top: 30px;
  padding-left: 30px;
  position: absolute;
  top: 155px;
  bottom: 0;
  left: 0;
}

.mail-data-region {
  position: absolute;
  top: 160px;
  right: 25px;
  bottom: 10px;
  left: 200px;
}

.mail-items-region {
  height: 340px;
  border-bottom: 1px solid #404040;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.mail-data-splitter {
  height: 4px;
  position: absolute;
  top: 340px;
  right: 0;
  left: 0;
}

.mail-preview-region {
  background-color: #ffffff;
  position: absolute;
  top: 344px;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  overflow: auto;
}

.mail-message-board-region {
  background-color: #EEF0F3;
  display: none;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 35px 60px 0 60px;
}

.mb .navigator {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  width: 160px;
  padding-top: 50px;
  margin: 0px;
}
.mb .navigator ul {
  width: 140px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  border: none;
}
.mb .navigator ul li {
  min-height: 30px;
  margin: 0px;
  padding-top: 3px;
}
.mb .navigator ul li a {
  font-size: 13px;
  display: block;
  padding: 5px 0px 2px 4px;
  text-decoration: none;
  color: white;
}
.mb .navigator ul li a.selected {
  color: #EDC967;
  font-weight: bold;
}
.mb .navigator ul li:hover, .mb .navigator ul li:focus {
  color: white;
  background-color: #292c31;
}

.settingsView {
  background-color: #f9f9f9;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.settingsView fieldset {
  margin: 5px 0 0;
  padding: 5px 0 0;
  padding-bottom: 20px;
  clear: both;
  border: 1px solid #DDD;
  border-color: #DDD transparent transparent;
}
.settingsView legend {
  margin: 0 5px;
  padding: 0 5px;
  font-size: 11px;
  font-weight: bold;
  color: #454545;
}
.settingsView .field {
  line-height: 40px;
}
.settingsView .fieldTitle {
  width: 160px;
  padding-right: 15px;
  float: left;
  text-align: right;
}
.settingsView .themeBox {
  border: 1px solid #f9f9f9;
  float: left;
  margin-right: 20px;
  padding: 5px;
  padding-top: 0;
}
.settingsView .themeBox:hover {
  border: 1px solid #282a2c;
  cursor: pointer;
}
.settingsView .themeTitle {
  text-decoration: underline;
  width: 100%;
  text-align: center;
}
.settingsView .themeIcon {
  border: 1px solid #cccccc;
}
.settingsView .close {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.mb .mailTable .importance-icon {
  width: 19px;
  height: 19px;
  background: url(//ssl.gstatic.com/ui/v1/icons/mail/sprite_importance2.png) -37px 0 no-repeat;
}
.mb .mailTable .importance-icon.disable {
  background: url(//ssl.gstatic.com/ui/v1/icons/mail/sprite_importance2.png) 0 0 no-repeat;
}
.mb .mailTable .star-icon {
  width: 19px;
  height: 19px;
  background: url(app/assets/ui/img/star.png);
  display: block;
  float: left;
}
.mb .mailTable .star-icon.disable {
  background: url(app/assets/ui/img/not-star.png);
}
.mb .mailTable .trash-icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
}
.mb .mailTable .trash-icon {
  width: 19px;
  height: 19px;
  background: url(//ssl.gstatic.com/ui/v1/icons/mail/icons2.png) no-repeat -20px -100px;
  display: inline-block;
  float: left;
}
.mb .mailTable .address.unread {
  font-weight: bold;
}
.mb .mailTable .address .draft {
  color: #DD4B39;
  font-weight: normal;
}
.mb .mailTable .address .sent {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 15px;
}
.mb .mailTable .address .sent .sent-to {
  padding-right: 7px;
  font-weight: normal;
}
.mb .mailTable .address .trash-address {
  display: inline-block;
  vertical-align: middle;
  width: 130px;
}
.mb .mailTable .sentTime.unread {
  font-weight: bold;
}
.mb .mailTable .content {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 15px;
}
.mb .mailTable .content .subject.unread {
  font-weight: bold;
}
.mb .mailTable .content .separator {
  padding-right: 5px;
  padding-left: 5px;
}
.mb .mailTable .content .body {
  color: gray;
}

.mb .emptyMail {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background: url("app/assets/ui/img/envelop.png") no-repeat center;
  background-color: #F7FAFF;
}
.mb .emptyMail .counter {
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  font-weight: bold;
}
.mb .emptyMail .message {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  font-weight: normal;
}

.mb .previewMail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 10px 25px 10px 25px;
}
.mb .previewMail .subject {
  font-family: arial,sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.mb .previewMail .addressRegion .icon {
  float: left;
  background: url("app/assets/ui/img/profile1.png") no-repeat;
  height: 32px;
  width: 32px;
  margin-right: 10px;
}
.mb .previewMail .addressRegion .from {
  padding-bottom: 3px;
  font-weight: bold;
}
.mb .previewMail .addressRegion .to {
  font-size: 10px;
  color: #777777;
}
.mb .previewMail .body {
  overflow-x: auto;
  padding-top: 20px;
  padding-left: 38px;
}
.mb .previewMail .body .special {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F2F2F2;
}
.mb .previewMail .body .special .inner-container {
  width: 800px;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  background-color: #ffffff;
}

.mb .messages-board {
  font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,"Lucida Grande",sans-serif;
}
.mb .messages-board .msgTitle {
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 18px;
  border-bottom: 1px solid black;
}
.mb .messages-board .msgBody {
  font-size: 18px;
  padding-Top: 30px;
  line-height: 28px;
}

/*------------ app ---------------*/
.mb {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111111;
  min-width: 950px;
  min-height: 900px;
}
.mb .techbar-region {
  height: 30px;
  border-bottom: 1px solid #404040;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.mb .main-region {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
}

.mb .techbar {
  background-color: #1f2121;
  padding-left: 30px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.mb .techbar .title {
  float: left;
  padding-left: 0px;
  padding-top: 7px;
  color: #bbbbbb;
}
.mb .techbar .menu {
  float: right;
  padding-right: 25px;
  width: 200px;
}
.mb .techbar .menuitem {
  color: #bbbbbb;
  min-width: 60px;
  border: 1px solid #1f2121;
  margin-right: 0px;
  text-align: left;
}
.mb .techbar .menuitem span.toggle {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid silver;
  position: relative;
  font-size: 0;
  padding-top: 1px;
}
.mb .techbar .menuitem:hover {
  color: white;
}
.mb .techbar .menuitem:hover .toggle {
  border-top-color: white;
}
.mb .techbar .menuitem.clicked {
  background: white;
  border: 1px solid #cbcbcb;
  color: #376d91;
}
.mb .techbar .menuitem.clicked .toggle {
  border-top-color: black;
}
.mb .techbar .ddsResources {
  display: none;
  min-width: 155px;
  border-top: 0px;
  position: absolute;
  top: 30px;
  right: 18px;
  background-color: white;
}
.mb .techbar .ddsResources .group {
  padding-top: 8px;
  padding-left: 13px;
  padding-bottom: 10px;
  padding-right: 12px;
}
.mb .techbar .ddsResources fieldset {
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-color: #ffffff;
}
.mb .techbar .ddsResources legend {
  color: #325E0A;
}
.mb .techbar .ddsResources .ddm {
  color: #376d91;
  padding: 6px 6px 5px 0px;
  font-size: 11px;
}
.mb .techbar .ddsResources .special {
  color: #f26300;
}
