.mb{

  .tasks-categories-region{
    width: 200px;
    @include abs-pos(20px, 'NaN', 20px, 'NaN');
  }

  .tasks-region{
    width: 250px;
    background-color:#F8F8F8;
    @include abs-pos(20px, 'NaN', 20px, 200px);

    .message{
       font-size:12px;
       padding:15px 16px;
      line-height: 22px;
    }
  }

  .task-info-region{
    background-color:#FCFDFD;
    @include abs-pos(20px, 26px, 20px, 450px);
  }
}