.mb{

  .tasks-categories-region{
    width: 200px;
    @include abs-pos(20px, 'NaN', 20px, 'NaN');
  }

  .tasks-region{
    width: 249px;
    color: $tasks-region-clr;
    background-color:$tasks-region-bgClr;
    @include abs-pos(20px, 'NaN', 20px, 200px);
    border-right: 1px solid $tasks-region-boClr;

    .message{
       font-size:12px;
       padding:15px 16px;
      line-height: 22px;
    }
  }

  .task-info-region{
    @include abs-pos(20px, 26px, 20px, 450px);
    background-color:$task-info-region-bgClr;
    color: $task-info-region-clr;

    .welcome-message{
      position: absolute;
      top: 45%;
      margin-left: 100px;
      margin-right: 100px;
      font-size: 22px;
      font-weight: 300;
      line-height: 35px;
      color:$task-info-region-clr-welcome-message;
    }
  }
}