.mb{

  .tasks-categories-region{
    width: 200px;
    @include abs-pos(20px, 'NaN', 20px, 'NaN');
  }

  .tasks-region{
    width: 250px;
    background-color:#FCFDFD;
    @include abs-pos(20px, 'NaN', 20px, 200px);
  }

  .task-info-region{
    background-color:rgb(239, 243, 245);;
    @include abs-pos(20px, 26px, 20px, 450px);
  }
}