.mb {
  .task-details-view {

    .task-title {
      padding: 15px 0;
      border-bottom: 1px solid #D7D5D5;

      .task-title-input {
        border: 0;
        width: 95%;
        line-height: 25px;
        font-size: 21px;
        font-weight: 300;
        padding-left: 28px;

        &:active,
        &:focus {
          outline: none;
        }
      }
    }

    .task-body {
      position: absolute;
      top: 75px;
      right: 23px;
      bottom: 95px;
      left: 24px;

      &:active,
      &:focus {
        outline: none;
      }
    }

    .task-actions {
      position: absolute;
      bottom: 0px;
      right: 0px;
      left: 0px;
      border-top: 1px solid #E9E9E9;
      padding: 20px 20px 20px 30px;

      .sendBtn {
        background-color: #4d90fe;
        border: 1px solid #D7D5D5;
        color: #ffffff;

        &:hover {
          color: #ffffff;
          background-color: #4d90fe;
        }
      }
    }
  }
}
