$tasks-region-clr:#4E4E4E;
$tasks-region-bgClr:#FCFDFD;
$tasks-region-boClr:$color15;
$task-info-region-bgClr:#E7E7E7;
$task-info-region-clr:#4E4E4E;
$task-info-region-clr-welcome-message:$color14;
$task-details-view-title-bgClr:$color4;
$task-details-view-title-input-clr:#4E4E4E;
$task-details-view-body-bgClr:$color4;
$task-details-view-body-boClr:$color15;
$task-details-view-actions-boClr:$color15;
$task-details-view-actions-bgClr:$color4;
$task-details-view-actions-save-bgClr:#4d90fe;
$task-details-view-actions-save-boClr:#D7D5D5;
$task-details-view-actions-save-clr:$color4;
$task-details-view-actions-save-hover-clr:$color4;
$task-details-view-actions-save-hover-bgClr:#4d90fe;
$task-list-li-boClr:$color15;
$task-list-li-hover-bgClr:$color9;
$task-list-li-select-bgClr:#E9E9E9;
