$tasks-region-clr:$color47;
$tasks-region-bgClr:$color48;
$tasks-region-boClr:$color15;
$task-info-region-bgClr:$color49;
$task-info-region-clr:$color47;
$task-info-region-clr-welcome-message:$color14;
$task-details-view-title-bgClr:$color4;
$task-details-view-title-input-clr:$color47;
$task-details-view-body-bgClr:$color4;
$task-details-view-body-boClr:$color15;
$task-details-view-actions-boClr:$color15;
$task-details-view-actions-bgClr:$color4;
$task-details-view-actions-save-bgClr:$color27;
$task-details-view-actions-save-boClr:$color50;
$task-details-view-actions-save-clr:$color4;
$task-details-view-actions-save-hover-clr:$color4;
$task-details-view-actions-save-hover-bgClr:$color27;
$task-list-li-boClr:$color15;
$task-list-li-hover-bgClr:$color9;
$task-list-li-select-bgClr:$color51;
