.mb{
  .mail-table-contanier{
    background-color: $_bgClr4;

    .mail-table{

      tr {

        &.selected{
          background-color: $_bgClr17;
        }

        &.clickedRow{
          background-color: $_bgClr17;
        }
      }
      .importance-icon{
        width: 19px;
        height: 19px;
        background: image-url('main.png') -74px -108px no-repeat;
      }
      .importance-icon.disable {
        background: image-url('main.png') -21px -108px no-repeat;
      }
      .star-icon {
        width: 19px;
        height: 19px;
        background: image-url('main.png') -55px -108px no-repeat;
        display:block;
        float:left;
      }
      .star-icon.disable {
        background: image-url('main.png') -39px -108px no-repeat;
      }
      .trash-icon-wrapper{
        display: inline-block;
        vertical-align: middle;
        width:40px;
      }
      .trash-icon{
        width: 19px;
        height: 19px;
        background: image-url('main.png') -99px -108px no-repeat;
        display:inline-block;
        float:left;
      }
      .address{
        &.unread{
          font-weight: bold;
        }
        .draft{
          color:$_clr4;
          font-weight: normal;
        }
        .sent{
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right:15px;

          .sent-to{
            padding-right:7px;
            font-weight: normal;
          }
        }
        .trash-address{
          display: inline-block;
          vertical-align: middle;
          width:130px;
        }
      }
      .sentTime{
        &.unread{
          font-weight: bold;
        }
      }
      .content{
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right:15px;

        .subject{
          &.unread{
            font-weight: bold;
          }
        }
        .separator{
          padding-right:5px;
          padding-left:5px;
        }
        .body{
          color:gray;
        }
      }
    }
  }
}






