@import "vars";

.mb {

  .dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    .dialog-overlay {
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background-color: rgb(61, 61, 61);
    }

    .dialog-outerbox{
      position: absolute;
      top: 50%;
      left: 50%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.36);
      background-color: $_bgClr15;

      .dialog-header {
        border-bottom:1px solid gray;


        .dialog-header-title {
           font-size:18px;
           padding:18px;
        }

        .dialog-header-closeBtn {
          position: absolute;
          right: 17px;
          top: 17px;
          width: 12px;
          height: 12px;
          z-index: 2;
          cursor: pointer;
          background:image-url('closeButtons.png') -10px 0px  no-repeat;
        }
      }
    }

    .dialog-innerBox {
    }
  }
}
