body {
  font-family: $font-family2;
  font-size: $font-size2;
  overflow: hidden;
}

//----------------------------------------
//  input
//----------------------------------------

.mb{
  input{
    vertical-align: middle;
    padding:0 8px;
    background-color: $input-background-color;
    border:1px solid $input-border-color;
    @include border-radius(1px);
    @include box-sizing(border-box);
  }

  input:hover {
    border-color:$input-hover-border-color;
  }

  input:active,
  input:focus{
    outline: none;
    border-color: $input-border-color;
    @include box-shadow(rgba(81,82,84,0.25) 0px 0px 3px);
  }

  .hide {display: none;}
  .show {display: block;}

  // Styled scroll bar
  .browser-scroll {
    @include mb-browser-scroll($white, $gray5, $gray30, $gray40);
    &.light {
      @include mb-browser-scroll($warmgray5, $gray13, $gray40, $gray50);
    }
    &.dark {
      @include mb-browser-scroll($gray85, $gray67, $gray50, $gray40);
    }
  }
   .browser-scroll.scroll-fixed {
    @include mb-browser-scroll-fixed($white, $gray5, $gray30, $gray40);
    &.light {
      @include mb-browser-scroll-fixed($warmgray5, $gray13, $gray30, $gray40);
    }
    &.dark {
      @include mb-browser-scroll-fixed($gray85, $gray67, $gray50, $gray40);
    }
  }

}

