.mb{
   .loader{
     display:none;
     position:absolute;
     width:90px;
     background:#F9EDBE;
     padding-top:7px;
     padding-bottom:7px;
     padding-left:10px;
     margin-left:-16px;
     top:0;
     left:50%;
     font-weight:bold;
     border:1px solid #F0C36D;
   }
}
