.mb{
  .navigator {
    font-family:$font-family2;
    font-size: 100%;
    width: 160px;
    padding-top: 50px;
    margin: 0px;
  }

  .navigator ul {
    width: 140px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: none;
  }

  .navigator ul li {
    min-height:30px;
    margin: 0px;
    padding-top: 3px;

    &.selected {
      a{
        color: #EDC967;
      }
    }
  }

  .navigator ul li a {
    font-size:$font-size2;
    display: block;
    padding: 5px 0px 2px 4px;
    text-decoration: none;
    color: $navItem-color;
  }

  .navigator ul li:hover, .navigator ul li:focus {
    color: $navItem-color;
    background-color: $navItem-hover-background-color;
  }
}




