.mb {

  .buttonsToolbar {
    @include abs-pos(0px, 'NaN', 'NaN', 0px);
  }

  //--------- compose ------------------

  .lblCompose {
    @include abs-pos(0px, 'NaN', 'NaN', 0px);
    font-size: 20px;
    color: $common-label-color;
    font-weight: normal;
    margin: 0;
    overflow:hidden;
    text-overflow: ellipsis;
    max-width: 400px;
  }

  //--------- settings ------------------

  .lblSettings {
    @include abs-pos(0px, 'NaN', 'NaN', 0px);
    font-size: 20px;
    color: $common-label-color;
    font-weight: normal;
    margin: 0;
  }

  //--------- pager -------------------

  .pager {

    float: right;

    .pagerButtons {
      float: right;

      .btnNewer {
        .icoNewer {
          @include set-icon(17px, 17px, 'app/common/ui/img/actions.png', 0, -17px);
        }
        &:hover {
          .icoNewer {
            background: url('app/common/ui/img/actionsHover.png') 0 -17px  no-repeat;
          }
        }
        &.disable {
          .icoNewer {
            background: url('app/common/ui/img/actionsDisabled.png') 0 -17px  no-repeat;
          }
        }
      }
      .btnOlder {
        .icoOlder {
          @include set-icon(17px, 17px, 'app/common/ui/img/actions.png', 0, -34px);
        }
        &:hover {
          .icoOlder {
            background: url('app/common/ui/img//actionsHover.png') 0 -34px  no-repeat;
          }
        }
        &.disable {
          .icoOlder {
            background: url('app/common/ui/img/actionsDisabled.png') 0 -34px  no-repeat;
          }
        }
      }
    }

    .pagerInfo {
      float: right;
      padding-right: 10px;
      padding-top: 8px;
      color: white;
      font-size: $font-size2;
      font-family: $font-family1;
    }
  }

  //------------ buttons ----------------

  .action-list-section {
    div {
      float: left
    }

    .ddsMove {
      position: absolute;
      top: 30px;
      display: none;
    }

    .ddsSelect {
      position: absolute;
      top: 30px;
      display: none;
    }

    .ddsMore {
      position: absolute;
      top: 30px;
      display: none;
      min-width: 150px;
    }
  }
}
