.mail-items-region{
  height: 270px;
  border-bottom: 1px solid $layout-splitter-color;
  @include abs-pos(0, 0, 'NaN', 0) ;
}

.mail-data-splitter{
  height: 4px;
  @include abs-pos(270px, 0, 'NaN', 0);
}

.mail-preview-region{
  background-color: #ffffff;
  @include abs-pos(274px, 0, 0, 0);
  overflow:auto;
}

.mail-message-board-region{
  background-color: #EEF0F3;
  z-index: 101;
  @include abs-pos(0, 0, 0, 0);
  padding: 35px 60px 0 60px;
}

