.mail-action-region{
  height: 70px;
  border-bottom: 1px solid $layout-splitter-color;
  @include abs-pos(80px, 0, 'NaN', 0);
}

.mail-nav-region{
  width:40px;
  padding-left:30px;
  @include abs-pos(20px, 'NaN', 0, 0);
}

.mail-work-region{
  @include abs-pos(20px, 25px, 10px, 200px);
}

