.mb{
  .messages-board{
    font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,"Lucida Grande",sans-serif;

    .msgTitle{
      font-size: 22px;
      font-weight: 300;
      padding-bottom:18px;
      border-bottom: 1px solid black;
    }

    .msgBody{
      font-size: 18px;
      padding-Top: 30px;
      line-height: 28px;
    }
  }
}