$mail-compose-clr: #404040;
$mail-compose-bgClr:#FCFCFC;
$mail-compose-err-bgClr:red;
$mail-compose-send-bgClr: #4d90fe;
$mail-compose-send-boClr: #3079ed;
$mail-compose-send-clr: #ffffff;
$mail-comose-send-hover-clr: #ffffff;
$mail-compose-send-hover-bgClr:#4d90fe;

$mail-content-layout-items-region-boClr:#7685a0;
$mail-content-layout-items-region-bgClr:#ffffff;
$mail-content-layout-message-board-bgClr:#ffffff;
$mail-content-layout-preview-region-bgClr:#EEF0F3;
$mail-empty-folder-bgClr:#EEF0F3;
$mail-empty-folder-title-boClr:#000;
$mail-empty-mail-bgClr:#FCFCFC;
$mail-table-draft-clr:#DD4B39;
$mail-msg-board-title-boClr: #000;
$mail-preview-bgClr:$color4;
$mail-preview-subject-boClr:#D8D8D8;
$mail-preview-address-to-clr:#777777;

$mail-label-color:$color4;



















