$mail-compose-clr: $color40;
$mail-compose-bgClr:$color41;
$mail-compose-err-bgClr:$color42;
$mail-compose-send-bgClr: $color27;
$mail-compose-send-boClr: $color29;
$mail-compose-send-clr: $color4;
$mail-comose-send-hover-clr: $color4;
$mail-compose-send-hover-bgClr:$color27;
$mail-layout-splitter-br:$color43;

$mail-content-layout-items-region-boClr:$color2;
$mail-content-layout-items-region-bgClr:$color4;
$mail-content-layout-message-board-bgClr:$color4;
$mail-content-layout-preview-region-bgClr:$color24;
$mail-empty-folder-bgClr:$color24;
$mail-empty-folder-title-boClr:$color3;
$mail-empty-mail-bgClr:$color41;
$mail-table-draft-clr:$color44;
$mail-msg-board-title-boClr: $color3;
$mail-preview-bgClr:$color4;
$mail-preview-subject-boClr:$color45;
$mail-preview-address-to-clr:$color46;
$mail-label-color:$color4;



















