<div class="settingsView">

       <div class="section">
           <div class="title">{{_i18n "frame:settings.language"}}</div>
           <select class="language-box" name="languages" data-action="languages" >
               <option value="en-US">English (US)</option>
               <option value="es-ES">Español</option>
           </select>
       </div>

       <div class="section">
            <div class="title">{{_i18n "frame:settings.theme"}}</div>
            <div class="themeBox dustTheme" data-name="dust"></div>
            <div class="themeBox darkTheme" data-name="dark"></div>
       </div>
</div>