<div class="techbar">
    <div class="title">{{_i18n "frame:techbar.slogan"}}</div>
    <div class="menu">
        <a href="javascript:void(0)" class="button link menuitem"><span class="caption">{{_i18n "frame:techbar.about"}}</span></a>
        <a href="javascript:void(0)" class="button link menuitem"><span class="caption">{{_i18n "frame:techbar.tutorial"}}</span></a>
        <a href="javascript:void(0)" class="button link dropdown menuitem ddsId_ddsResources"><span class="caption">{{_i18n "frame:techbar.resources"}}</span><span class="toggle"></span></a>

        <div class="dropdown-slider ddsResources" display="none">
            <div class="container">
                <ul>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2>Client-side</h2>
                         <p>
                            <span class="item first">Backbone</span>
                            <span class="item">Backbone.DeepModel</span>
                            <span class="item">Marionette</span>
                            <span class="item">Underscore</span>
                            <span class="item">Browserify</span>
                            <span class="item">Handlebars</span>
                            <span class="item">Sass\Compass</span>
                            <span class="item">ECMAScript 6 (Babel)</span>
                         </p>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2>Server-side</h2>
                         <p>
                            <span class="item first">Node.js (Express 4.0)</span>
                             <span class="item">Passport.js</span>
                            <span class="item">MongoDB</span>
                            <span class="item">Mongoose</span>
                            <span class="item">Socket.io</span>
                         </p>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2>Testing tools</h2>
                         <p>
                            <span class="item first">Mocha + Chai</span>
                            <span class="item">Sinon</span>
                            <span class="item">Blanket</span>
                         </p>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2>Deploying tools</h2>
                         <p>
                            <span class="item first">Grunt</span>
                          </p>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>


