//==================================================
//THEME VARS
//==================================================


//COLORS
//-------------------------------

$layout-background-color:#111111;
$layout-splitter-color:#404040;

$button-color:white;
$button-icon-color:$color25;
$button-background-color:#343434;
$button-toggle-color:white;
$button-splitter-color:$color9;
$button-border-color:$color7;
$button-hover-border-color:$color10;
$button-hover-color:white;
$button-hover-toggle-color:white;
$button-hover-background-color:#494949;

$button-clicked-color:$color12;
$button-clicked-toggle-color:$color11;
$button-clicked-background-color:white;
$button-clicked-border-color:$color10;
