.mb {

  .data-table-contanier{
    //@include abs-pos(0, 0, 0, 0);
    background-color: $data-background-color;
  }

  .data-table {

    width: 100%;
    table-layout: fixed;
    border-spacing: 0;

    tr {
      background-color: $data-row-background-color;
      color: $data-row-color;
      cursor: pointer;
    }

    tr.selected{
      background-color: $data-row-selected-color;
    }

    tr.clickedRow{
      background-color: $data-row-clicked-color;
    }

    td {
      line-height: 35px;
      font-size: $font-size2;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      border-bottom: 1px $data-row-border-color solid;
      padding-left: 5px;
    }
  }
}