.mb{

  .dropdown-slider {
    display: block;
    overflow: hidden;
    margin: 0 7px 5px 0;
    border: 1px solid $dd-border-color;
    border-top:0px;
    min-width:130px;
    z-index:1000;
  }

  .dropdown-slider .ddm {

    display: block;
    background: $ddItem-background-color;
    color: $ddItem-color;
    text-decoration: none;
    font: $font-size1 $font-family2;
    line-height: 18px;
    height: 18px;
    margin: 0;
    padding: 6px 6px 5px 15px;
    width: 100%;
  }

  .dropdown-slider .ddm:hover {
    background: $ddItem-hover-background-color;
  }

  .dropdown-slider .ddm:last-child {
    border-bottom: none;
  }

  .dropdown-slider .splitter{
    border-top: 1px solid $ddItem-splitter-color;
  }
}


