<div class="techbar-wrapper"></div>
<div class="loader-wrapper"></div>
<div class="header-wrapper">
     <div class="logo"></div>
     <div class="search-region"></div>
     <div class="accountName" alt={{accountName}} title="{{accountName}}"></div>
</div>
<div class="actions-wrapper">
    <div class="moduleSwitcher">
        <a href="javascript:void(0)" class="button link dropdown ddsId_ddsModules"><span class="caption"></span><span class="toggle"></span></a>
        <div class="dropdown-slider ddsModules">
           <a class="ddm selectMail" href="index.html#inbox"></span><span class="label">{{#_i18n}}frame:module.mail{{/_i18n}}</span></a>
           <a class="ddm selectTasks" href="index.html#tasks"><span class="label">{{#_i18n}}frame:module.tasks{{/_i18n}}</span></a>
        </div>
    </div>
     <div class="actions-region"></div>
     <div class="btnSettings"><a href="javascript:void(0)" class="button primeIcon _btnSettings"><span class="settingsIcon"></span></a></div>
</div>
<div class="main-region"></div>