
//=========================================
// Colors
//=========================================

$color1:#55688A;
$color2:#7685A0;
$color3:#000000;
$color4:#ffffff;
$color5:#F3F3F3;
$color6:#444;
$color7:#D9D9D9;
$color8:#949698;
$color9:#F4F4F4;
$color10:#C0C0C0;
$color11:#676767;
$color12:#333;
$color13:#CBCBCB;
$color14:#585858;
$color15:#D4D4D4;
$color16:#EEEEEE;
$color17:#1F2121;
$color18:#BBBBBB;
$color19:#376D91;
$color20:#F26300;
$color21:#292C31;
$color22:#F1F3F4;
$color23:#222;
$color24:#EEF0F3;
$color25:#65676A;
$color26:#c1c2c3;
$color27:#4d90fe;
$color28:#3E83F1;
$color29:#3079ed;
$color30:#f9f9f9;
$color31:#454545;
$color32:#ccc;
$color33:#282A2C;
$color34:#dcdcdc;
$color35:#FFFFCC;
$color36:#F9F9E0;
$color40:#404040;
$color41:#FCFCFC;
$color42:#FF0000;
$color43:#666666;
$color44:#DD4B39;
$color45:#D8D8D8;
$color46:#777777;
$color47:#4E4E4E;
$color48:#FCFDFD;
$color49:#E7E7E7;
$color50:#D7D5D5;
$color51:#E9E9E9;
$color52:#222222;

$gray21:#B6AEAE;
$white:#fff;
$gray5:#f5f5f5;
$gray30: #c1c2c3;
$gray40: #adadad;
$warmgray5:#f4f4f3;
$gray13: #e5e5e5;
$gray50: #98999b;
$gray85: #515254;
$gray67: #767678;


//Font colors
//------------------------

$_clr1:$color40;
$_clr2:$color4;
$_clr3:$color47;
$_clr4:$color44;
$_clr5:$color46;
$_clr10:$color1;
$_clr11:$color2;
$_clr12:$color52;
$_clr13:$color18;
$_clr14:$color10;
$_clr17:$color3;
$_clr18:$color19;
$_clr19:$color20;
$_clr20:#325E0A;
$_clr52:$color14;


//Border colors
//------------------------

$_boClr1: $color29;
$_boClr2:$color2;
$_boClr3:$color3;
$_boClr4:$color43;
$_boClr5: $color3;
$_boClr6:$color45;
$_boClr7:$color15;
$_boClr11:#F0C36D;
$_boClr12: $color29;
$_boClr13: $color29;
$_boClr14: $color32;
$_boClr15: $color33;
$_boClr16:$color34;
$_boClr54:$color15;
$_boClr53:$color50;


//Background colors
//------------------------

$_bgClr1:$color41;
$_bgClr2:$color42;
$_bgClr3: $color27;
$_bgClr4:$color4;
$_bgClr7:$color24;
$_bgClr11:#F9EDBE;
$_bgClr12:$color17;
$_bgClr14: $color28;
$_bgClr15: $color30;
$_bgClr50:$color48;
$_bgClr51:$color49;
$_bgClr57:$color9;
$_bgClr58:$color51;


//Special colors
//------------------------
