//==================================================
//THEME VARS
//==================================================


//COLOR
//-------------------------------

$layout-background-color:$color1;
$layout-splitter-color:$color2;

$button-color:$color6;
$button-icon-color:$color25;
$button-background-color:$color5;
$button-toggle-color:$color8;
$button-splitter-color:$color9;
$button-border-color:$color7;
$button-hover-border-color:$color10;
$button-hover-color:$color12;
$button-hover-toggle-color:$color11;
$button-hover-background-color:$color4;
$button-clicked-color:$color12;
$button-clicked-toggle-color:$color11;
$button-clicked-background-color:$color4;
$button-clicked-border-color:$color10;

$empty-mail-background:#FCFCFC;

$dd-border-color:$color13;
$ddItem-color:$color14;
$ddItem-splitter-color:$color15;
$ddItem-background-color:$color4;
$ddItem-hover-background-color:$color16;

$techbar-color:$color18;
$techbar-toogle-color:$color10;
$techbar-hover-color:$color4;
$techbar-toogle-hover-color:$color4;
$techbar-toogle-clicked-color:$color3;
$techbar-background-color:$color17;
$techbar-ddItem-color:$color19;
$techbar-ddItem-special-color:$color20;
$techbar-ddItem-background-color:$color4;

$navItem-color:$color4;
$navItem-hover-background-color:$color21;

$data-background-color:$color22;
$data-row-color:$color23;
$data-row-border-color:$color4;
$data-row-background-color:#ffffff;
$data-row-selected-color:$color35;

$searchBtn-border-color: $color29;
$searchBtn-background-color: $color27;
$searchBtn-background-hover-color: $color28;
$searchBtn-border-hover-color: $color29;

$settings-background-color: $color30;
$settings-legend-color: $color31;
$settings-themeIcon-border-color: $color32;
$settings-themeBox-border-hover-color: $color33;


$input-background-color:$color4;
$input-border-color:$color34;
$input-hover-border-color:$color26;
$input-focus-border-color:$color27;


//BUTTON-WIDTH
//---------------------------

$button-normal-width: $btnWidth1;
$button-prime-width:$btnWidth3;
$button-icon-width: $btnWidth4;
$button-primeIcon-width:$btnWidth2;


