<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="../dist/css/login.css">
</head>
<body>
<div class="header"></div>
<a href="https://github.com/you"><img class="github" src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-dusk-blue@2x.png" alt="Fork me on GitHub"></a>
<div class="main-container">
    <div class="logo-wrapper">
        <div class="logo"></div>
    </div>
    <div class="inner-container">
        <img class="formBackground" src="../dist/img/loginFormBackground.png"><img>
        <div class="form-wrapper">
            <div class="welcome">Welcome to Mail.do</div>
            <div class="alert alert-danger <%= message.length > 0 ? '' : 'hide' %>"><%= message %></div>
            <form action="/signup" method="post">
                <div class="form-group" style="position:relative">
                    <input type="text" class="form-control username-input short-input" name="username" maxlength="14" placeholder="Username">
                    <div class="email-postfix">@maildo.com</div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control password-input" name="password" maxlength="50" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-submit" onclick="return validate();"/>Create account</button>
                <div class="signup">Already have an account? <a href="/login">Login</a></div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-links">
        <span><a href="">Source code</a></span>
        <span>|</span>
        <span><a href="">Blog</a></span>
        <span> @2015 <a class="gray-link" href="">Shaul Mazor</a></span>
    </div>
</div>

<script src="http://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
<script>

    $( document ).ready(function() {
        $(".username-input").focus();
        $('body').on('click', "div", function(e){
            if(!$(e.target).hasClass("password-input")){
                $(".username-input").focus();
            }
        })
    });

    function validate() {

        var email = $(".username-input").val() + "@maildo.com";
        var password = $(".password-input").val();
        var reg = /^[a-zA-Z0-9_.+-]+@maildo.com$/

        if (email.length === 0){
            $(".alert-danger").removeClass("hide").html("Email is mandatory");
            $(".email-input").focus();
            return false;
        }
        if (password.length == 0){
            $(".alert-danger").removeClass("hide").html("Password is mandatory");
            $(".password-input").focus();
            return false;
        }
        if (!reg.test(email)){
            $(".alert-danger").removeClass("hide").html("Invalid username");
            $(".username-input").focus();
            return false;
        }
    }
</script>

</body>
</html>