.mb{

  .autoComplete-size{
    max-width: 520px;
  }

  .autoComplete{
    .menu {
      &.default-list {
        cursor: default;
        position: absolute;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 1000;
        float: left;
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: white;
        border: 1px solid gainsboro;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: rgba(81, 82, 84, 0.25) 0 0 3px 1px;
        -moz-box-shadow: rgba(81, 82, 84, 0.25) 0 0 3px 1px;
        box-shadow: rgba(81, 82, 84, 0.25) 0 0 3px 1px;
        -webkit-background-clip: padding;
        -moz-background-clip: padding;
        background-clip: padding-box;
        overflow-y: auto;
        overflow-x: hidden;
        width:100%;
        max-width:445px;

        li {
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          -o-border-radius: 2px;
          border-radius: 2px;
          padding: 4px 4px;
          border-top: 1px solid #e5e5e5;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          color: #333333;
          &:first-child {
            border: none;
          }
          div.dropdown-li-value {
            display: inline-block;
            width: 100%;
          }
          div.dropdown-li-icon {
            margin-right: 8px;
          }
          div.icon{
            float:left;

            height:30px;
            width:30px;
            margin-right:10px;

            &.search{
              background: url('app/common/ui/img/qicons.png')  0 -97px no-repeat;
            }
            &.contact{
              background: url('app/common/ui/img/qicons.png') 0 2px no-repeat;
            }
            &.recent{
              background: url('app/common/ui/img/qicons.png') 0 -130px no-repeat;
            }
          }
          div.contentWrapper{
            paddign-rigth:10px;
            vertical-align: middle;
            height: 30px;
            display: table-cell;
            .title{
              color:#000000;
              padding-right: 8px;
            }
            .text{
              color:#777777;
            }
          }
          &.active {
            background-color: #EEEEEE;
          }
        }
      }
    }
  }
}