<a href="javascript:void(0)" class="button dropdown ddsId_ddsMove"><span class="caption">{{_i18n "mail:actions.moveTo"}}</span><span class="toggle"></span></a>
<div  class="dropdown-slider ddsMove">
   <a href="javascript:void(0)" class="ddm moveToInbox"></span><span class="label">{{_i18n "mail:inbox"}}</span></a>
   <a href="javascript:void(0)" class="ddm moveToSpam"><span class="label">{{_i18n "mail:spam"}}</span></a>
   <a href="javascript:void(0)" class="ddm moveToTrash"><span class="label">{{_i18n "mail:trash"}}</span></a>
</div>


