<div class="pagerInnerContainer">
    <div class="pagerButtons">
        <a href="javascript:void(0)" class="button left icon btnNewer" title="{{_i18n "mail:page.prev"}}"><span class="icoNewer"></span></a>
        <a href="javascript:void(0)" class="button right icon btnOlder" title="{{_i18n "mail:page.next"}}"><span class="icoOlder"></span></a>
    </div>
    <div class="pagerInfo">
        <span class="lblForm"></span>
        <span> - </span>
        <span class="lblTo"></span>
        <span> of </span>
        <span class="total"></span>
    </div>
</div>


