<div class="lblCompose">New Message</div>
<div class="buttonsToolbar">
    <div class="action-list-section">
        <div class="btnSelect">
            <a href="javascript:void(0)" class="button dropdown ddsId_ddsSelect"><span class="caption">{{#_i18n}}mail:select{{/_i18n}}</span><span class="toggle"></span></a>
            <div class="dropdown-slider ddsSelect">
               <a href="javascript:void(0)" class="ddm selectAll"></span><span class="label">{{#_i18n}}mail:select.all{{/_i18n}}</span></a>
               <a href="javascript:void(0)" class="ddm selectNone"><span class="label">{{#_i18n}}mail:select.none{{/_i18n}}</span></a>
               <a href="javascript:void(0)" class="ddm selectRead"><span class="label">{{#_i18n}}mail:select.read{{/_i18n}}</span></a>
               <a href="javascript:void(0)" class="ddm selectUnread"><span class="label">{{#_i18n}}mail:select.unread{{/_i18n}}</span></a>
            </div>
        </div>
        <div class="btnDeleteForever"><a href="javascript:void(0)" class="button left"><span class="caption">{{#_i18n}}mail:actions.deleteForever{{/_i18n}}</span></a></div>
        <div class="btnNotSpam"><a href="javascript:void(0)" class="button"><span class="caption">{{#_i18n}}mail:actions.notSpam{{/_i18n}}</span></a></div>
        <div class="btnDiscardDrafts"><a href="javascript:void(0)" class="button"><span class="caption">{{#_i18n}}mail:actions.discardDraft{{/_i18n}}</span></a></div>
        <div class="btnDelete"><a href="javascript:void(0)" class="button left"><span class="caption">{{#_i18n}}mail:actions.delete{{/_i18n}}</span></a></div>
        <div class="btnMoveTo"></div>
        <div class="btnMore"></div>
    </div>
</div>
<div class="pager"></div>


