<div class="lblSettings">Settings</div>
<div class="buttonsToolbar">
    <div class="compose-section">
          <a href="javascript:void(0)" class="button btnSend"><span class="caption">Send</span></a>
          <a href="javascript:void(0)" class="button btnSaveNow"><span class="caption">Save Now</span></a>
          <a href="javascript:void(0)" class="button btnDiscard"><span class="caption">Discard</span></a>
    </div>
    <div class="action-list-section">
        <div class="btnSelect">
            <a href="javascript:void(0)" class="button dropdown ddsId_ddsSelect"><span class="caption">Select</span><span class="toggle"></span></a>
            <div class="dropdown-slider ddsSelect">
               <a href="javascript:void(0)" class="ddm selectAll"></span><span class="label">All</span></a>
               <a href="javascript:void(0)" class="ddm selectNone"><span class="label">None</span></a>
               <a href="javascript:void(0)" class="ddm selectRead"><span class="label">Read</span></a>
               <a href="javascript:void(0)" class="ddm selectUnread"><span class="label">Unread</span></a>
            </div>
        </div>
        <div class="btnDeleteForever"><a href="javascript:void(0)" class="button"><span class="caption">Delete forever</span></a></div>
        <div class="btnDiscardDrafts"><a href="javascript:void(0)" class="button"><span class="caption">Discard drafts</span></a></div>
        <div class="btnDelete"><a href="javascript:void(0)" class="button left"><span class="caption">Delete</span></a></div>
        <div class="btnMoveTo"></div>
        <div class="btnMore"></div>
        <div class="btnRefresh"><a href="javascript:void(0)" class="button"><span class="caption">Refresh</span></a></div>
    </div>
</div>
<div class="btnSettings"><a href="javascript:void(0)" class="button primeIcon _btnSettings"><span class="settingsIcon"></span></a></div>
<div class="pager"></div>


