<div class="composeView">
    <div class="compose-header">
        <div class="field">
            <div class="label">{{#_i18n}}mail.composeview.to{{/_i18n}}</div>
            <div class="inputbox"><div class="toInputWrapper"></div></div>
        </div>
        <div class="field ccLine" style="display:none">
            <div class="label">{{#_i18n}}mail.composeview.cc{{/_i18n}}</div>
            <div class="inputbox"><div class="ccInputWrapper"></div></div>
        </div>
        <div class="field bccLine" style="display:none">
            <div class="label">{{#_i18n}}mail.composeview.bcc{{/_i18n}}</div>
            <div class="inputbox"><div class="bccInputWrapper"></div></div>
        </div>
        <div class="field-options">
            <span class="link addCc">{{#_i18n}}mail.composeview.addcc{{/_i18n}}</span>
            <span  class="link addBcc">{{#_i18n}}mail.composeview.addBcc{{/_i18n}}</span>
        </div>
        <div class=field>
            <div class="label">{{#_i18n}}mail.composeview.subject{{/_i18n}}</div>
            <div class="inputbox"><input type="text" class="subject" value={{subject}}></input></div>
        </div>
    </div>
    <div class="compose-editor" contenteditable="true">{{body}}
    </div>
    <div class="btnSend1"><a href="javascript:void(0)" class="button primeIcon _btnSettings"><span class="settingsIcon"></span></a></div>
</div>