<div class="emptyMail">
  {{#showCounter}}
    <div class="counter">{{counter}}</div>
  {{/showCounter}}
  {{#showMessage}}
    <div class="message">{{#_i18n}}mail.emptyMail.selectitem{{/_i18n}}</div>
  {{/showMessage}}
</div>