<div class="logo"></div>
<div class="searchPanel">
    <input class="inputSearch" type="text" autocomplete="off" value="">
    <a href="javascript:void(0)" class="button primeIcon btnSearch"><span class="searchIcon"></span></a>
</div>
<div class="accountName" alt={{accountName}} title="{{accountName}}"></div>