<td class="selector"><input type="checkbox" class="chkBox"></td>
<td><div class="starIcon"></div></td>
<td><div class="importantIcon"></div></td>
<td><div class="from">{{from}}</div></td>
<td><div class="subject">{{subject}}</div></td>
<td><div class="sentTime">{{sentTime}}</div></td>