<div class="data-table-contanier">
    <table class="data-table mailTable">
        <colgroup>
            <col style="width:30px"/>
            <col style="width:30px"/>
            <col style="width:30px"/>
            <col style="width:190px"/>
            <col/>
            <col style="width:80px"/>
        </colgroup>
        <tbody>
        </tbody>
    </table>
</div>