<td class="selector"><input type="checkbox" class="chkBox"></td>
<td class="star"><div class="star-icon"></div></td>
<td class="importance"><div class="importance-icon"></div></td>
<td class="address">
    {{#isInbox}}
        <div class="inbox">{{from}}<div>
    {{/isInbox}}
    {{#isSent}}
        <div class="sent"><span class="sent-to">{{#_i18n}}mail.to{{/_i18n}}:</span><span class="sent-address">{{to}}</span></div>
    {{/isSent}}
    {{#isDraft}}
        <div class="draft">{{#_i18n}}mail.draft{{/_i18n}}</div>
    {{/isDraft}}
    {{#isTrash}}
        <div class="trash-icon-wrapper"><div class="trash-icon"></div></div><div class="trash-address"><div>{{from}}</div></div>
    {{/isTrash}}
    {{#isSpam}}
        <div class="spam">{{from}}</div>
    {{/isSpam}}
</td>
<td><div class="content"><span class="subject">{{subject}}</span><span class="separator">-</span><span class="body">{{body}}</span></div></td>
<td><div class="sentTime">{{sentTime}}</div></td>