<div class="messages-board">

  <div class="msgTitle">
    There are no emails in your Trash folder.
  </div>
  <div class="msgBody">
       Preview your Mail! <br/>Enjoy reading through emails without leaving your inbox.
  </div>
</div>