<a href="javascript:void(0)" class="button dropdown ddsId_ddsMore"><span class="caption">{{#_i18n}}mail.actions.more{{/_i18n}}</span><span class="toggle"></span></a>
<div  class="dropdown-slider ddsMore">
   <a href="javascript:void(0)" class="ddm markRead"></span><span class="label">{{#_i18n}}mail.actions.markAs.read{{/_i18n}}</span></a>
   <a href="javascript:void(0)" class="ddm markUnread"><span class="label">{{#_i18n}}mail.actions.markAs.unread{{/_i18n}}</span></a>
   <a href="javascript:void(0)" class="ddm markImp"><span class="label">{{#_i18n}}mail.actions.markAs.important{{/_i18n}}</span></a>
   <a href="javascript:void(0)" class="ddm markNotImp"><span class="label">{{#_i18n}}mail.actions.markAs.notImportant{{/_i18n}}</span></a>
   <a href="javascript:void(0)" class="ddm addStar"><span class="label">{{#_i18n}}mail.actions.add.star{{/_i18n}}</span></a>
   <a href="javascript:void(0)" class="ddm removeStar"><span class="label">{{#_i18n}}mail.actions.remove.star{{/_i18n}}</span></a>
</div>





