<a href="javascript:void(0)" class="button dropdown ddsId_ddsMore"><span class="caption">More</span><span class="toggle"></span></a>
<div  class="dropdown-slider ddsMore">
   <a href="javascript:void(0)" class="ddm markRead"></span><span class="label">Mark as read</span></a>
   <a href="javascript:void(0)" class="ddm markUnread"><span class="label">Mark as unread</span></a>
   <a href="javascript:void(0)" class="ddm markImp"><span class="label">Mark as important</span></a>
   <a href="javascript:void(0)" class="ddm markNotImp"><span class="label">Mark as not important</span></a>
   <a href="javascript:void(0)" class="ddm addStar"><span class="label">Add Star</span></a>
   <a href="javascript:void(0)" class="ddm removeStar"><span class="label">Remove Star</span></a>
</div>


