<a href="javascript:void(0)" class="button dropdown ddsId_ddsMove"><span class="caption">Move to</span><span class="toggle"></span></a>
<div  class="dropdown-slider ddsMove">
   <a href="javascript:void(0)" class="ddm moveToInbox"></span><span class="label">Inbox</span></a>
   <a href="javascript:void(0)" class="ddm moveToSpam"><span class="label">Spam</span></a>
   <a href="javascript:void(0)" class="ddm moveToTrash"><span class="label">Trash</span></a>
</div>


