<a href="javascript:void(0)" class="button dropdown ddsId_ddsMove"><span class="caption">{{#_i18n}}mail:actions.moveTo{{/_i18n}}</span><span class="toggle"></span></a>
<div  class="dropdown-slider ddsMove">
   <a href="javascript:void(0)" class="ddm moveToInbox"></span><span class="label">{{#_i18n}}mail:inbox{{/_i18n}}</span></a>
   <a href="javascript:void(0)" class="ddm moveToSpam"><span class="label">{{#_i18n}}mail:spam{{/_i18n}}</span></a>
   <a href="javascript:void(0)" class="ddm moveToTrash"><span class="label">{{#_i18n}}mail:trash{{/_i18n}}</span></a>
</div>


