<a  href="index.html#compose" class="button prime btnCompose"><span class="caption">{{#_i18n}}mail.compose{{/_i18n}}</span></span></a></div>
<div class="navigator">
  <ul>
      <li class="nav-inbox"><a href="index.html#inbox">{{#_i18n}}mail.inbox{{/_i18n}}</a></li>
      <li class="nav-sent"><a href="index.html#sent">{{#_i18n}}mail.sent{{/_i18n}}</a></li>
      <li class="nav-draft"><a href="index.html#draft">{{#_i18n}}mail.draft{{/_i18n}}</a></li>
      <li class="nav-trash"><a href="index.html#trash">{{#_i18n}}mail.trash{{/_i18n}}</a></li>
      <li class="nav-spam"><a href="index.html#spam">{{#_i18n}}mail.spam{{/_i18n}}</a></li>
  </ul>
</div>

