<a  href="index.html#compose" class="button prime btnCompose"><span class="caption">COMPOSE</span></span></a></div>
<div class="navigator">
  <ul>
      <li><a class="nav-inbox" href="index.html#inbox">Inbox</a></li>
      <li><a class="nav-sent" href="index.html#sent">Sent Mail</a></li>
      <li><a class="nav-draft" href="index.html#draft">Drafts</a></li>
      <li><a class="nav-trash" href="index.html#trash">Trash</a></li>
      <li><a class="nav-spam" href="index.html#spam">Spam</a></li>
  </ul>
</div>

