<a  href="index.html#compose" class="button prime btnCompose"><span class="caption">COMPOSE</span></span></a></div>
<div class="navigator">
  <ul>
      <li class="nav-inbox"><a href="index.html#inbox">Inbox</a></li>
      <li class="nav-sent"><a href="index.html#sent">Sent Mail</a></li>
      <li class="nav-draft"><a href="index.html#draft">Drafts</a></li>
      <li class="nav-trash"><a href="index.html#trash">Trash</a></li>
      <li class="nav-spam"><a href="index.html#spam">Spam</a></li>
  </ul>
</div>

