<div class="pagerInnerContainer">
    <div class="pagerButtons">
        <a href="javascript:void(0)" class="button left icon btnNewer" title="Newer"><span class="icoNewer"></span></a>
        <a href="javascript:void(0)" class="button right icon btnOlder" title="Older"><span class="icoOlder"></span></a>
    </div>
    <div class="pagerInfo">
        <span class="lblForm">45</span>
        <span> - </span>
        <span class="lblTo">76</span>
        <span> of </span>
        <span class="total">77</span>
    </div>
</div>


