<div class="search-input-container">
    <div class="input-wrapper">
        <input class="searchInput" type="text" autocomplete="off" value="">
        <a href="javascript:void(0)" class="button primeIcon btnSearch">Search Mail</a>
    </div>
    <div class="autoCompletePlaceholder"></div>
</div>