<div class="settingsView">
    <fieldset>
        <legend>Behavior</legend>
        <div class="field">
            <div class="fieldTitle"><label for="languages" >Display language:</label></div>
            <select class="emails_per_page" name="languages" data-action="languages" >
                <option value="en">English (US)</option>
                <option value="es">Español</option>
            </select>
        </div>
    </fieldset>
    <fieldset>
        <legend>Theme</legend>
        <div class="field">
            <div class="fieldTitle">Choose theme:</div>
            <div class="themeBox dustTheme" data-name="dust">
                <div  class="themeTitle">Dust</div>
                <div class="themeIcon"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/themes/medred/preview2.png"></div>
            </div>
            <div class="themeBox darkTheme" data-name="dark">
                <div  class="themeTitle">Dark</div>
                <div class="themeIcon"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/themes/basicblack/preview.png"></div>
            </div>
        </div>
    </fieldset>
</div>