<div class="settingsView">
    <fieldset>
        <legend>Behavior</legend>
        <div class="field">
            <div class="fieldTitle"><label for="emails_per_page" >Show:</label></div>
            <select class="emails_per_page" name="emails_per_page" data-action="emails-page" >
                <option value="5" selected="">5 messages</option>
                <option value="10">10 messages</option>
                <option value="15">15 messages</option>
            </select>
            per page
        </div>
    </fieldset>
    <fieldset>
        <legend>Theme</legend>
        <div class="field">
            <div class="fieldTitle">Choose theme:</div>
            <div class="themeBox dustTheme" data-name="dust">
                <div  class="themeTitle">Dust</div>
                <div class="themeIcon"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/themes/medred/preview2.png"></div>
            </div>
            <div class="themeBox darkTheme" data-name="dark">
                <div  class="themeTitle">Dark</div>
                <div class="themeIcon"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/themes/basicblack/preview.png"></div>
            </div>
        </div>
    </fieldset>
</div>