<div class="dialog-overlay"></div>

<div class="dialog-outerbox">

    <div class="dialog-header">
        <div class="dialog-header-title">Settings</div>
        <div class="dialog-header-closeBtn"></div>
    </div>

    <div class="dialog-innerBox">
    </div>
</div>


