<div class="techbar-wrapper">
</div>
<div class="header-wrapper">
     <div class="logo"></div>
     <div class="search-region"></div>
     <div class="accountName" alt={{accountName}} title="{{accountName}}"></div>
</div>
<div class="actions-wrapper">
     <div class="moduleSwitcher">Mail</div>
     <div class="actions-region"></div>
     <div class="btnSettings"><a href="javascript:void(0)" class="button primeIcon _btnSettings"><span class="settingsIcon"></span></a></div>
</div>
<div class="main-region"></div>
