<div class="settingsView">

       <div class="section">
           <div class="title">Display language:</div>
           <select class="language-box" name="languages" data-action="languages" >
               <option value="en-US">English (US)</option>
               <option value="es-ES">Español</option>
           </select>
       </div>

       <div class="section">
            <div class="title">Choose theme:</div>
            <div class="themeBox dustTheme" data-name="dust">
                <div  class="title">Dust</div>
                <div class="icon"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/themes/medred/preview2.png"></div>
            </div>
            <div class="themeBox darkTheme" data-name="dark">
                <div  class="title">Dark</div>
                <div class="icon"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/themes/basicblack/preview.png"></div>
            </div>
       </div>
</div>