<div class="previewMail">
   <div class="subject">{{subject}}</div>
   <div class="addressRegion">
       <div class="icon"></div>
       <div class="from">{{from}}</div>
       <div class="to">{{to}}</div>
   </div>
   <div class="body">{{body}}</div>
</div>