<div class="action-list-section">
    <div class="btnNewTask"><a href="javascript:void(0)" class="button"><span class="caption">New Task</span></a></div>
    <div class="btnDeleteTask"><a href="javascript:void(0)" class="button disable"><span class="caption">Delete</span></a></div>
</div>


