<div class="action-list-section">
    <div class="btnNewNote"><a href="javascript:void(0)" class="button"><span class="caption">New Note</span></a></div>
    <div class="btnDeleteNote"><a href="javascript:void(0)" class="button disable"><span class="caption">Move</span></a></div>
    <div class="btnMoveNote"><a href="javascript:void(0)" class="button disable"><span class="caption">Delete</span></a></div>
</div>


