<div class="task-details-view">
   <div class="task-title">
      <div class="task-title-input" contenteditable="true">{{title}}</div>
   </div>
   <div class="task-body" contenteditable="true">{{content}}</div>
   <div class="task-actions">
        <a href="javascript:void(0)" class="button sendBtn">Save</span></a>
        <a href="javascript:void(0)" class="button">Cancel</span></a>
   </div>
</div>


