<div class="task-details-view">
   <div class="task-title"><input class="task-title-input" value=""> </div>
   <div class="task-body" contenteditable="true"></div>
   <div class="task-actions">
        <a href="javascript:void(0)" class="button primeIcon save">{{#_i18n}}frame:save{{/_i18n}}</span></a>
   </div>
</div>


