<div class="techbar">
    <div class="title">{{#_i18n}}frame:techbar.slogan{{/_i18n}}</div>
    <div class="menu">
        <a href="javascript:void(0)" class="button link menuitem"><span class="caption">{{#_i18n}}frame:techbar.about{{/_i18n}}</span></a>
        <a href="javascript:void(0)" class="button link menuitem"><span class="caption">{{#_i18n}}frame:techbar.tutorial{{/_i18n}}</span></a>
        <a href="javascript:void(0)" class="button link dropdown menuitem ddsId_ddsResources"><span class="caption">{{#_i18n}}frame:techbar.resources{{/_i18n}}</span><span class="toggle"></span></a>

        <div class="dropdown-slider ddsResources" display="none">
            <div class="container">
                <ul>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2>Client-side</h2>
                         <p>
                            <span class="item first">Backbone</span>
                            <span class="item">Backbone.DeepModel</span>
                            <span class="item">Marionette</span>
                            <span class="item">Underscore</span>
                            <span class="item">RequireJS (AMD)</span>
                            <span class="item">Mustache</span>
                            <span class="item">Sass\Compass</span>
                         </p>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2>Server-side</h2>
                         <p>
                            <span class="item first">Node.js</span>
                            <span class="item">Express 4.0</span>
                            <span class="item">MongoDB</span>
                            <span class="item">Mongoose</span>
                            <span class="item">Socket.io</span>
                            <span class="item">Async.js</span>
                         </p>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2>Testing tools</h2>
                         <p>
                            <span class="item first">Mocha</span>
                            <span class="item">Chai</span>
                            <span class="item">Sinon</span>
                            <span class="item">Blanket</span>
                            <span class="item">Squire</span>
                         </p>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2>Deploying tools</h2>
                         <p>
                            <span class="item first">Grunt</span>
                          </p>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>


