/* -------------------------------------------- */
/* GENERIC */
html { font-size:100%; }
body { line-height:1.6; overflow-x: hidden; margin:0px;}
img { max-width:100%; height:auto; }
h1, h2, h3, h4, h5, h6 { line-height:1.5; font-weight:500; }
a { color: #668F23; text-decoration:none; }
a:hover { color:#3F5F0C; }
a:focus { outline: none; }
h1 a { color:#333; }
h2 {font-size:28px; color: #1B5C8C;}

/* -------------------------------------------- */
/* FONTS */
html, button, input, select, textarea, .toggle h4 { font-family: 'Lora', Georgia, serif; }
h1, h2, h3, h4, h5, h6, .main-navigation ul li, dt { font-family:"Coustard", Georgia, serif; }
h1.site-title, h1.site-title a { font-family:"UnifrakturMaguntia", Georgia, serif; }

/* -------------------------------------------- */
/* COLORS */
/* Text Selection */
::selection { text-shadow:none; color:#333; background:#FFF04F; }
::-moz-selection { text-shadow:none; color:#333; background:#FFF04F; }
body {
    color:#444;
    /*background-color: #C7C7C7;*/
    background: #f3f3f3 url(img/background-gray-linen.jpg) center top repeat;
}

.scrollToTop{
    width:34px;
    height:35px;
    padding-bottom: 7px;
    padding-right: 10px;
    text-align:center;
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom:25px;
    right:10px;
    display:none;
    background: url('img/go-up.png') no-repeat;
}
.scrollToTop:hover{
    text-decoration:none;
    background: url('img/go-up-hover.png') no-repeat;
}

/* -------------------------------------------- */
/* LAYOUT */
.middle { padding-bottom: 4em; overflow: hidden; }
.wrapper { width:100%; }

.page-content-wrapper{
    margin-top:20px;
    background-color:white;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid rgba(0,0,0,0.275);
}

.page-content{

    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align:right;
    direction: rtl;
    /*position:relative;*/

    /*for hebrew*/
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.6;
}

.site-header { padding-top:40px; padding-bottom: 70px; text-align:center; }
.site-header hgroup { padding: 2.5em 0 1.875em 0; }
.site-title { font-size:6em; line-height:1.4;  margin-top:45px; }
.site-title img { max-height:200px; }
.site-title a { border-bottom:1px dotted #ccc; }
.site-title a:hover { color:#000; }
.site-sub-title{ font-size:2.1em; font-weight:400; font-family: "Coustard", Georgia, serif}

.lastUpdate {
    text-align:left;
    padding-top:40px;
    font-size:13px;
}

.me{
    position: fixed;
    width:40px;
    height:42px;
    top: 20px;
    right: 20px;
    background: url('img/me-profile.JPG') no-repeat;
    z-index:2000;
}

.me:hover{
    cursor: pointer;
}

.aboutMe{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #727272;
    background-color: #fff;
    z-index: 1032;
    box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
    display:none;
}


.plus{
    position: fixed;
    width:56px;
    height:41px;
    top: 50%;
    left: 0px;
    margin-top: -16px;
    /*display:none;*/
    background: url('img/menu-shortcut.png') no-repeat;
}

/*.plus:hover{*/
    /*cursor: pointer;*/
    /*background: url('img/menu-shortcut-hover.png') no-repeat;*/
/*}*/

/*.plus1{*/
    /*position: fixed;*/
    /*min-width:356px;*/
    /*background-color:red;*/
    /*height:37px;*/
    /*width:300px;*/
    /*top: 50%;*/
    /*left: 58px;*/
    /*margin-top: -16px;*/
    /*display:none;*/
/*}*/

.menuplus{
    width: 100%;
    position: fixed;
    display:none;
    text-align:center;
    top:0px;
}

.menuplus-inner{

    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 980px;
    background-color: #ffffff;
    padding-top:65px;
    padding-bottom:65px;
    width:700px;
}

.menu-plus-content{

    padding-top:8px;
    padding-bottom:8px;
    border-top:1px solid #C3C3C3;
    border-bottom:1px solid #C3C3C3;
    text-align:right;
    direction: rtl;


}

.logo1{
    position:absolute;
    left:0;
    font-family: Open Sans;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 25.2px;
    font-weight: 800;
    color:#404040;
}


.menu-plus-content a{

    color:#404040;
    padding-left:12px;

}


/* NAVIGATION */
.main-navigation div.selector { display:none; margin:0 auto; border:0; }
.main-navigation div.selector:before { font-size:17px; content: "\f0c9"; }
.main-navigation div.selector span { font-weight:bold; }
.main-navigation { border-style:solid; border-width:1px 0; border-color: #C3C3C3; }
.main-navigation ul { list-style:none; padding:0; margin:0; }
.main-navigation ul li { position:relative; display:inline-block; margin:0 1.25em; padding:10px 0px 10px 0px; max-height: 1.5em; font-size:16px; }
.main-navigation ul li a { display:inline-block; }
.main-navigation ul .current-menu-item > a { color:#668F23; }
.main-navigation ul li, .main-navigation ul li a { color:#333; }
.main-navigation > ul > li > a:hover, .main-navigation > ul > li > a.selected { border-bottom:1px dotted #ccc; }


.table-of-contents{padding:37px 0 0px 0;}
.table-of-contents ul { list-style:none; padding-right:15px; margin:0; }
.table-of-contents ul li { line-height:32px; }

.img-wrapper{
    width:690px;
    border:1px solid #000000;
    padding-top: 4px;
    padding-left: 4px;
    margin-top:30px;
}

.notice{
    margin-top: 30px;
    padding: 12px;
    padding-right:5px;
    background-color:#FFF9D7;
    border-top:1px solid #E2C822;
    border-bottom:1px solid #E2C822;
}

.introduction{padding:25px 0 0px 0;}
.libs{padding:50px 0 0px 0;}
.libs-titles{font-family: "Comic Sans MS", cursive, sans-serif;
    padding-top: 25px;
    padding-bottom: 5px;
}

.project-structure{
    padding:25px 0 0px 0;
}

.project-structure-box{
    /*border:1px solid #CCCCCC;*/
    /*background-color: #FDFCFF;*/
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
}



