html {
  font-size: 100%;
}

body {
  line-height: 1.6;
  overflow-x: hidden;
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-weight: 500;
}

a {
  color: #668F23;
  text-decoration: none;
}

a:hover {
  color: #3F5F0C;
}

a:focus {
  outline: none;
}

h1 a {
  color: #333;
}

h2 {
  font-size: 28px;
  color: #1B5C8C;
}

html, button, input, select, textarea, .toggle h4 {
  font-family: 'Lora', Georgia, serif;
}

h1, h2, h3, h4, h5, h6, .main-navigation ul li, dt {
  font-family: "Coustard", Georgia, serif;
}

h1.site-title, h1.site-title a {
  font-family: "UnifrakturMaguntia", Georgia, serif;
}

::selection {
  text-shadow: none;
  color: #333;
  background: #FFF04F;
}

::-moz-selection {
  text-shadow: none;
  color: #333;
  background: #FFF04F;
}

body {
  color: #444;
  background: #f3f3f3 url(img/background-gray-linen.jpg) center top repeat;
}

/* ---------------------------------------- */
/*  SCROLL BUTTON                           */
/*----------------------------------------- */

.btn-scroll-to-top {
  width: 34px;
  height: 35px;
  padding-bottom: 7px;
  padding-right: 10px;
  text-align: center;
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position: fixed;
  bottom: 25px;
  right: 10px;
  display: none;
  background: url('img/go-up.png') no-repeat;

  &:hover {
    cursor: pointer;
    background: url('img/go-up-hover.png') no-repeat;
  }
}

/*----------------------------------------- */
/* ABOUT ME                                 */
/*----------------------------------------- */

.btn-about-me {
  position: fixed;
  width: 40px;
  height: 42px;
  top: 20px;
  right: 20px;
  background: url('img/me-profile.JPG') no-repeat;
  z-index: 2000;

  &:hover {
    cursor: pointer;
  }
}

.aboutMe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #727272;
  background-color: #fff;
  z-index: 1032;
  box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.5);
  display: none;

  .wrapper {
    display: table;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 45px;

    .inner-wrapper {
      display: table-row;
      height: 400px;

      .content-area, .image-area {
        display: table-cell;
      }

      .image-area {
        padding-top: 80px;
        width: 240px;
        text-align: center;
        vertical-align: middle
      }

      .spacer {
        width: 56px;
      }

      .content-area {
        width: 590px;
        text-align: right;
        direction: rtl;
        padding-top: 50px;

        .title {
          font-size: 28px;
          color: rgb(121, 25, 25);
          padding-bottom: 35px;
        }

        .content {
          padding-bottom: 20px;
          font-family: 'Segoe UI', Arial, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
        }
      }
    }
  }
}

/*----------------------------------------- */
/* FIXED MENU                               */
/*----------------------------------------- */

.fixed-menu {
  width: 100%;
  position: fixed;
  display: none;
  text-align: center;
  top: 0px;

  .inner-wrapper {

    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 980px;
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 700px;

    .inner {

      padding-top: 8px;
      border-top: 1px solid #C3C3C3;
      border-bottom: 1px solid #C3C3C3;
      text-align: right;
      direction: rtl;

      .logo {
        position: absolute;
        left: 0;
        font-family: Open Sans;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 25.2px;
        font-weight: 800;
        color: #404040;

        a {

          color: #404040;
          padding-left: 3px;
        }
      }
    }
  }
}

/*----------------------------------------- */
/* page-content-wrapper                     */
/*----------------------------------------- */

.page-content-wrapper {
  margin-top: 20px;
  background-color: white;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.275);

  .page-content {

    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    direction: rtl;

    /*for hebrew*/
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.6;

    .lastUpdate {
      text-align: left;
      padding-top: 40px;
      font-size: 13px;
    }

    .header {
      padding-top: 40px;
      padding-bottom: 80px;
      text-align: center;
      width: 100%;

      .title {
        font-size: 5.6em;
        line-height: 1.4;
        margin-top: 45px;
      }

      .sub-title {
        font-size: 1.8em;
        font-weight: 400;
        font-family: "Coustard", Georgia, serif;
        padding-top: 5px
      }

      .nav {
        border-style: solid;
        border-width: 1px 0;
        border-color: #C3C3C3;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            position: relative;
            display: inline-block;
            margin: 0 1.25em;
            padding: 10px 0px 10px 0px;
            max-height: 1.5em;
            font-size: 16px;
          }
        }
      }
    }

    .table-of-contents {
      padding: 37px 0 0px 0;

      ul {
        list-style: none;
        padding-right: 15px;
        margin: 0;
        li {
          line-height: 32px;
        }
      }
    }

    .introduction {
      padding: 25px 0 0px 0;

      .notice {
        margin-top: 30px;
        padding: 12px;
        padding-right: 5px;
        background-color: #FFF9D7;
        border-top: 1px solid #E2C822;
        border-bottom: 1px solid #E2C822;
      }
    }

    .libs {
      padding: 50px 0 0px 0;

      .title {
        font-family: "Comic Sans MS", cursive, sans-serif;
        padding-top: 25px;
        padding-bottom: 5px;
      }
    }
  }
}


.project-structure {
  padding: 25px 0 0px 0;
}

.project-structure-box {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}




