/* -------------------------------------------- */
/* GENERIC */
html { font-size:100%; }
body { line-height:1.6; overflow-x: hidden; }
img { max-width:100%; height:auto; }
h1, h2, h3, h4, h5, h6 { line-height:1.5; font-weight:500; }
a { color: #668F23; text-decoration:none; }
a:hover { color:#3F5F0C; }
a:focus { outline: none; }
h1 a { color:#333; }
h2 {font-size:28px; color: #1B5C8C;}

/* -------------------------------------------- */
/* FONTS */
html, button, input, select, textarea, .toggle h4 { font-family: 'Lora', Georgia, serif; }
h1, h2, h3, h4, h5, h6, .main-navigation ul li, dt { font-family:"Coustard", Georgia, serif; }
h1.site-title, h1.site-title a { font-family:"UnifrakturMaguntia", Georgia, serif; }

/* -------------------------------------------- */
/* COLORS */
/* Text Selection */
::selection { text-shadow:none; color:#333; background:#FFF04F; }
::-moz-selection { text-shadow:none; color:#333; background:#FFF04F; }
body { color:#444; }


/* -------------------------------------------- */
/* LAYOUT */
.middle { padding-bottom: 4em; overflow: hidden; }
.wrapper { width:100%; }
.wrapper > .row { width:700px; margin-left:auto; margin-right:auto; }


.page-content{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align:right;
    direction: rtl;

    /*for hebrew*/
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.6;
}

.site-header { padding-top:50px; padding-bottom: 50px; text-align:center; }
.site-header hgroup { padding: 2.5em 0 1.875em 0; }
.site-title { font-size:6em; line-height:1.4;  margin-top:45px; }
.site-title img { max-height:200px; }
.site-title a { border-bottom:1px dotted #ccc; }
.site-title a:hover { color:#000; }
.site-sub-title{ font-size:2.1em; font-weight:400; font-family: "Coustard", Georgia, serif}

.lastUpdate {
    text-align:left;
    padding-top:20px;
    font-size:13px;
}

/* NAVIGATION */
.main-navigation div.selector { display:none; margin:0 auto; border:0; }
.main-navigation div.selector:before { font-size:17px; content: "\f0c9"; }
.main-navigation div.selector span { font-weight:bold; }
.main-navigation { border-style:solid; border-width:1px 0; border-color: #C3C3C3; }
.main-navigation ul { list-style:none; padding:0; margin:0; }
.main-navigation ul li { position:relative; display:inline-block; margin:0 1.25em; padding:10px 0px 10px 0px; max-height: 1.5em; font-size:16px; }
.main-navigation ul li a { display:inline-block; }
.main-navigation ul .current-menu-item > a { color:#668F23; }
.main-navigation ul li, .main-navigation ul li a { color:#333; }
.main-navigation > ul > li > a:hover, .main-navigation > ul > li > a.selected { border-bottom:1px dotted #ccc; }


.table-of-contents{padding:35px 0 0px 0;}
.table-of-contents ul { list-style:none; padding-right:15px; margin:0; }
.table-of-contents ul li { line-height:32px; }

.img-wrapper{
    width:690px;
    border:1px solid #000000;
    padding-top: 4px;
    padding-left: 4px;
    margin-top:30px;
}

.notice{
    margin-top: 30px;
    padding: 12px;
    padding-right:0px;
    background-color:#FFF9D7;
    border-top:1px solid #E2C822;
    border-bottom:1px solid #E2C822;
}

.introduction{padding:25px 0 0px 0;}
.libs{padding:30px 0 0px 0;}
.libs-titles{font-family: "Comic Sans MS", cursive, sans-serif}

.project-structure{
    padding:25px 0 0px 0;
}

.project-structure-box{
    /*border:1px solid #CCCCCC;*/
    /*background-color: #FDFCFF;*/
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
}



