@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/box-sizing";

//==================================================
//STATIC VARS
//==================================================


//FONTS
//------------------------------

$font-family1: "Avenir Next","Helvetica Neue",sans-serif;
$font-family2: Helvetica,Arial,sans-serif;

$font-size1: 12px;
$font-size2: 13px;
$font-size3: 11px;


//COLOR
//-------------------------------

$color1:#55688A;
$color2:#7685A0;
$color3:#000000;
$color4:#ffffff;
$color5:#F3F3F3;
$color6:#444;
$color7:#D9D9D9;
$color8:#949698;
$color9:#F4F4F4;
$color10:#C0C0C0;
$color11:#676767;
$color12:#333;
$color13:#CBCBCB;
$color14:#585858;
$color15:#D4D4D4;
$color16:#EEEEEE;
$color17:#1F2121;
$color18:#BBBBBB;
$color19:#376D91;
$color20:#F26300;
$color21:#292C31;
$color22:#EEF0F3;
$color23:#222;
$color24:#EEF0F3;
$color25:#65676A;
$color26:#c1c2c3;
$color27:#4d90fe;
$color28:#3E83F1;
$color29:#3079ed;
$color30:#f9f9f9;
$color31:#454545;
$color32:#ccc;
$color33:#282A2C;
$color34:#dcdcdc;
$color35:#FFFFCC;
$color36:#F9F9E0;

$black: #000;
$gray100: #323336;
$gray85: #515254;
$gray80: #5a5b5e;
$gray67: #767678;
$gray56: #8c8d8f;
$gray50: #98999b;
$gray40: #adadad;
$gray30: #c1c2c3;
$gray25: #ccc;
$gray20: #d6d6d6;
$gray17: #dcdcdc;
$gray13: #e5e5e5;
$gray9:#ededed;
$gray5:#f5f5f5;
$warmgray5:#f4f4f3;
$gray4: #f7f7f7;
$white:#fff;




//BUTTON-WIDTHS
//-------------------------------

$btnWidth1:72px;
$btnWidth2:60px;
$btnWidth3:115px;
$btnWidth4:30px;


//==================================================
//THEME VARS
//==================================================


//COLOR
//-------------------------------

$layout-background-color:$color1;
$layout-splitter-color:$color2;

$button-color:$color6;
$button-icon-color:$color25;
$button-background-color:$color5;
$button-toggle-color:$color8;
$button-splitter-color:$color9;
$button-border-color:$color7;
$button-hover-border-color:$color10;
$button-hover-color:$color12;
$button-hover-toggle-color:$color11;
$button-hover-background-color:$color4;
$button-clicked-color:$color12;
$button-clicked-toggle-color:$color11;
$button-clicked-background-color:$color4;
$button-clicked-border-color:$color10;

$dd-border-color:$color13;
$ddItem-color:$color14;
$ddItem-splitter-color:$color15;
$ddItem-background-color:$color4;
$ddItem-hover-background-color:$color16;

$techbar-color:$color18;
$techbar-toogle-color:$color10;
$techbar-hover-color:$color4;
$techbar-toogle-hover-color:$color4;
$techbar-toogle-clicked-color:$color3;
$techbar-background-color:$color17;
$techbar-ddItem-color:$color19;
$techbar-ddItem-special-color:$color20;
$techbar-ddItem-background-color:$color4;

$navItem-color:$color4;
$navItem-hover-background-color:$color21;

$data-background-color:$color22;
$data-row-color:$color23;
$data-row-border-color:$color4;
$data-row-background-color:$color24;
$data-row-selected-color:$color35;
$data-row-clicked-color:$color36;

$searchBtn-border-color: $color29;
$searchBtn-background-color: $color27;
$searchBtn-background-hover-color: $color28;
$searchBtn-border-hover-color: $color29;

$settings-label-color: $color30;
$settings-background-color: $color30;
$settings-legend-color: $color31;
$settings-themeIcon-border-color: $color32;
$settings-themeBox-border-hover-color: $color33;

$input-background-color:$color4;
$input-border-color:$color34;
$input-hover-border-color:$color26;
$input-focus-border-color:$color11;

$common-label-color:$color4;


//BUTTON-WIDTH
//---------------------------

$button-normal-width: $btnWidth1;
$button-prime-width:$btnWidth3;
$button-icon-width: $btnWidth4;
$button-primeIcon-width:$btnWidth2;



//==================================================
// mixin
//==================================================



@mixin arrow-down($size:4px, $color:#000000,  $paddingTop:2px) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top:$size solid $color;
  position: relative;
  font-size: 0;
  padding-top: $paddingTop;
}
@mixin arrow-down-hover( $color:#000000) {
  border-top-color:$color;
}

//-------------------------------------------------------------

@mixin abs-pos($top, $right, $bottom, $left) {
  position:absolute;
  @if $top != 'NaN' {top: $top;}
  @if $right != 'NaN' {right: $right;}
  @if $bottom != 'NaN' {bottom: $bottom;}
  @if $left != 'NaN' {left: $left;}
}

//-------------------------------------------------------------

@mixin set-icon($width, $height, $bg, $spriteLeft:0, $spriteTop:0) {
  display: inline-block;
  height: $height;
  width: $width;
  background: url($bg) $spriteLeft $spriteTop  no-repeat;
}


// Browser specific styling of scroll bars - at the momemnt only webkit (Chrome and Safari) and IE support styling of scroll bars (IE is very limited)
@mixin mb-browser-scroll($background, $track, $thumb, $arrow) {
  &:hover {
    &::-webkit-scrollbar-track {background-color: $track;}
    &::-webkit-scrollbar-thumb {background-color: $thumb;}
  }
  @include mb-browser-scroll-base($background, $track, $thumb, $arrow);
}

// similiar scroll as above - but for cases that the scroll always appears
@mixin mb-browser-scroll-fixed($background, $track, $thumb, $arrow) {
  &::-webkit-scrollbar-track {background-color: $track;}
  &::-webkit-scrollbar-thumb {background-color: $thumb;}
  @include mb-browser-scroll-base($background, $track, $thumb, $arrow);
}

@mixin mb-browser-scroll-base($background, $track, $thumb, $arrow) {
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
    width: 8px;
    border-color: $background;
    border-style: solid;
    border-width: 0 7px 0 0;
  }

// IE
  scrollbar-track-color: $background;
  scrollbar-base-color: $thumb;
  scrollbar-arrow-color: $arrow;
  scrollbar-shadow-color: $background;
  scrollbar-dark-shadow-color: $background;
  scrollbar-3dlight-color: $background;
  scrollbar-highlight-color: $background;
}




