//==================================================
//Css Components VARS
//==================================================


//button widget
//-------------------------

$button-color:$color6;
$button-icon-color:$color25;
$button-background-color:$color5;
$button-toggle-color:$color8;
$button-splitter-color:$color9;
$button-border-color:$color7;
$button-hover-border-color:$color10;
$button-hover-color:$color12;
$button-hover-toggle-color:$color11;
$button-hover-background-color:$color4;
$button-clicked-color:$color12;
$button-clicked-toggle-color:$color11;
$button-clicked-background-color:$color4;
$button-clicked-border-color:$color10;
$button-disable-color:$gray21;

$button-normal-width: $btnWidth1;
$button-prime-width:$btnWidth3;
$button-icon-width: $btnWidth4;
$button-primeIcon-width:$btnWidth2;


//data-table widget
//-------------------------

$data-background-color:$color22;
$data-row-color:$color23;
$data-row-border-color:$color4;
$data-row-background-color:$color24;
$data-row-selected-color:$color35;
$data-row-clicked-color:$color36;

//dropdown widget
//-------------------------

$dd-border-color:$color13;
$ddItem-color:$color14;
$ddItem-splitter-color:$color15;
$ddItem-background-color:$color4;
$ddItem-hover-background-color:$color16;


//navigation widget
//-------------------------

$navItem-color:$color4;
$navItem-hover-background-color:$color21;

//input widget
//-------------------------

$input-background-color:$color4;
$input-border-color:$color34;
$input-hover-border-color:$color26;
$input-focus-border-color:$color11;

