//==================================================
// Defaults VARS
//==================================================

$input-background-color:$color4;
$input-border-color:$color34;
$input-hover-border-color:$color26;
$input-focus-border-color:$color11;