.mb{

  .tags-container{
    width: 100%;
    height: 25px;
    background-color: $input-background-color;
    border:1px solid $input-border-color;

    &:hover {
      border-color:$input-hover-border-color;
    }

    &:active,
    &:focus{
      outline: none;
      border-color: $input-focus-border-color;
      @include box-shadow(rgba(81,82,84,0.25) 0px 0px 3px);
    }
  }

  .tag-selector {
    position: relative;
    display: inline-block;
    height: auto;
    min-height: 20px;
    line-height: 17px;
    max-width: 100%; // prevent tag input field from overflowing
    overflow: auto; // allow scrolling in the tag input field
    margin: 3px 0px 0px 0px;

    .tag-input {
      float: left;
      min-height: 17px;
      height: auto;
      display: inline-block;
      outline: 0;
      padding: 0px 3px 0 3px;
      word-spacing: 0; // re-enable spaces
    }
  }

  .tag {

    position: relative;
    height: 20px;
    max-width: 100%;
    margin: 2px 0px 2px 0px;
    display: inline-block;

    .content {
      height: 100%;
      position: relative;
      color: red;
      background-color: lightgray;
      font-size: 12px;
      font-weight: normal;
      padding: 3px 19px 4px 8px; // right padding includes the close button width of 12px
      margin: 0px 4px 0px 0px;

      &:hover {
        color: red;
        background-color: darkslategray;
      }
    }

    .close-button {

    }
  }
}
