@import "../../../../../assets/scss/_global";
@import "../../../../../assets/scss/_mixins";

.le {

  .tag {

    position: relative;
    height: 20px;
    max-width: 100%;
    margin: 2px 0px 2px 0px;
    @include inline-block;

    .content {
      @include inline-block;
      height: 100%;
      line-height: 20px;
      position: relative;
      color: $gray67;
      background-color: $gray20;
      font-size: 12px;
      font-weight: normal;
      padding: 0px 19px 4px 8px; // right padding includes the close button width of 12px
      margin: 0px 4px 0px 0px;
      @include box-sizing(border-box);
      @include border-radius(2px);
      word-spacing: 0;

      // Enable ellipsis
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        color: $gray85;
        background-color: $gray25;
      }
    }

    // Close button is absolute positioned to make ellipsis work correctly
    .close-button {
      @include lp-bg-image("../img/12x12-sprite.png", -540px, 0);
      content:"";
      position: absolute;
      right: 7px;
      top: 4px;
      width:12px;
      height:12px;
      cursor: pointer;
      @include box-sizing(border-box);

      &:hover {
        @include lp-bg-image("../img/12x12-sprite.png", -540px, -20px);
      }
    }

    .separator {
      display: none;
      height: 100%;
      line-height: 20px;
      color: $gray56;
      padding: 0px 4px 0px 0px;
    }
  }

}