@import "../../../../../assets/scss/_global";
@import "../../../../../assets/scss/_mixins";

.le .tags-container {
  position: relative;
  min-height: 32px;
  max-width: 100%;
  background-color: $white;
  border: 1px solid $gray17;
  padding: 3px 4px 2px 4px; // added 1 pixel to top padding because for some unknown reason the tag was not aligned to
                            // the middle of the tags container.
  @include border-radius(1px);
  @include box-sizing(border-box);

  &:hover, &.focused {
    border: 1px solid $gray30;
    background-color: $white;
  }

  .tag-placeholder {
    color: $gray25;
    position: absolute;
    outline: 0;
    padding-top: 4px;
  }

  .selected-tags {
    max-width: 100%;
    word-spacing: -4px; // remove extra spacing between inline elements

    .tag-selector {
      position: relative;
      @include inline-block;
      height: auto;
      min-height: 20px;
      line-height: 17px;
      max-width: 100%; // prevent tag input field from overflowing
      overflow: auto; // allow scrolling in the tag input field
      margin: 3px 0px 0px 0px;

      .tag-input {
        float: left;
        min-height: 17px;
        height: auto;
        @include inline-block;
        outline: 0;
        padding: 0px 3px 0 3px;
        word-spacing: 0; // re-enable spaces
      }
    }

    .tag-selector-separator {
      @include inline-block;
      height: 20px;
      color: $gray56;
      padding: 0px 4px 0px 0px;
      line-height: 20px;
    }

    // Show (left) separator for all tags except the first
    // We use left separator becuase last-child is not supported in some browsers (e.g IE)
    .tag {
      .separator {
        @include inline-block;
      }
    }
    .tag:first-child {
      .separator {
        display:none;
      }
    }
  }

  // If focused, show separator before tag-selector
  &.focused {
      .tag-selector .separator {
        @include inline-block;
      }
  }

  &.error {
    border-color: $red;

    &:hover {
      border-color: $red;
    }
  }
}