body {
  font-family: $font-family2;
  font-size: $font-size2;
  overflow: hidden;
}

input{
  vertical-align: middle;
  padding:0 8px;
  background-color: $input-background-color;
  border:1px solid $_boClr16;
  @include border-radius(1px);
  @include box-sizing(border-box);
}

input:hover {
  border-color:$input-hover-border-color;
}

input:active,
input:focus{
  outline: none;
  border-color: $_boClr16;
  @include box-shadow(rgba(81,82,84,0.25) 0px 0px 3px);
}


