//==================================================
//THEME VARS
//==================================================


//COLORS
//-------------------------------

$layout-background-color:#6F6F6F;
$layout-splitter-color:#AAAAAA;

$button-color:white;
$button-icon-color:$color25;
$button-background-color:#BEBABA;
$button-toggle-color:white;
$button-splitter-color:$color9;
$button-border-color:$color7;
$button-hover-border-color:$color10;
$button-hover-color:white;
$button-hover-toggle-color:white;
$button-hover-background-color:#949090;

$button-clicked-color:$color12;
$button-clicked-toggle-color:$color11;
$button-clicked-background-color:white;
$button-clicked-border-color:$color10;
