.mb {

  @include abs-pos(0, 0, 0, 0);
  background-color: $_clr10;
  min-width:1024px;
  min-height: 650px;
  overflow:hidden;

  .loader-wrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    right:0px;
    height:28px;
    text-align:center;
    z-index: 10;
    display: none;

    .loader{
      background-color: $_bgClr11;
      border:1px solid $_boClr11;
      color:$_clr12;
    }
  }

  .techbar-wrapper {
    height: 30px;
    background-color: red;
    @include abs-pos(0, 0, 'NaN', 0);
  }

  .header-wrapper{
    height: 70px;
    border-bottom: 1px solid $_boClr53;
    @include abs-pos(30px, 0, 'NaN', 0) ;

    .logo {
      //DilleniaUPC 40px  white
      width: 146px;
      height: 42px;
      background-image: image-url('logo.png');
      @include abs-pos(8px, 'NaN', 'NaN', 19px);
    }

    .accountName{
      float: right;
      margin-right: 26px;
      margin-top: 20px;
      width:40px;
      height:35px;
      background-image: image-url('product_demos.jpg');
    }

    .search-region{
      width: 550px;
      height: 30px;
      @include abs-pos(19px, 'NaN', 'NaN', 200px);
    }
  }

  .actions-wrapper{
      height: 65px;
      border-bottom: 1px solid $_boClr53;
      @include abs-pos(100px, 0, 'NaN', 0);

      .moduleSwitcher{
        width: 140px;
        height: 25px;

        @include abs-pos(24px, 'NaN', 'NaN', 27px);

        .button{
          padding-left:0px;
        }

        .button .toggle{
          border-top-color: #ffffff;
        }

        .link{
          color:white;
          font-size:19px;
        }

        .ddsModules {
          @include abs-pos(30px, 'NaN', 'NaN', 5px);
          display: none;
          min-width:135px;

          .ddm{
            height: 19px;
          }
        }
      }

      .actions-region{
        @include abs-pos(20px, 90px, 'NaN', 200px);
      }

      .btnSettings {
        @include abs-pos(21px, 10px, 'NaN', 'NaN');

        .button .settingsIcon {
          @include set-icon(17px, 17px, 'actions.png', 0, 0);
        }
        .button:hover .settingsIcon {
          background: image-url('actions.png') -34px 0 no-repeat;
        }
      }
  }

  .main-region {
    @include abs-pos(165px, 0, 0, 0);
  }
}
