.mb {

  .techbar {
    background-color: $_bgClr12;
    padding-left: 30px;
    @include abs-pos(0, 0, 'NaN', 0);

    .title {
      float: left;
      padding-left: 0px;
      padding-top: 7px;
      color: $_clr13;
    }

    .menu {
      float: right;
      padding-right:25px;

      .button{
        padding-right: 0px;
        padding-left: 0px;
      }
    }

    .menuitem{
      color: $_clr13;
      min-width: 60px;
      border: 1px solid $_bgClr12;
      margin-right:0px;
      text-align: left;
    }

    .menuitem span.toggle {
      @include arrow-down(4px, $_clr14, 1px);
    }

    .menuitem:hover {
      color: $_clr2;
    }

    .menuitem:hover .toggle {
      @include arrow-down-hover($_clr2);
    }

    .menuitem.clicked {
      background: $_clr2;
      border: 1px solid $dd-border-color;
      color: $_clr18;
    }

    .menuitem.clicked .toggle {
      border-top-color: $_clr17;
    }

    .ddsResources {
      display: none;
      min-width: 155px;
      border-top: 0px;
      @include abs-pos(30px, 18px, 'NaN', 'NaN');
      background-color: $_bgClr4;
    }

    .ddsResources .group{
      padding-top:8px;
      padding-left:13px;
      padding-bottom:10px;
      padding-right:12px;
    }

    .ddsResources fieldset {
      border-right: 0px;
      border-left: 0px;
      border-bottom: 0px;
      border-color: $_clr2;
    }

    .ddsResources legend {
      color:$_clr20;
    }

    .ddsResources .ddm {
      color: $_clr18;
      padding: 6px 6px 5px 0px;
      font-size:11px;
    }

    .ddsResources .special {
      color: $_clr19;
    }
  }
}
